[2019-01-23 12:48] caroline171 opened #1 "AWS Image Upload"
Is there any means now to use the library now for uploading AWS photos to an S3 storage bucket ?

[2019-01-23 22:58] isoos commented on #1
Sorry that hasn't been implemented in this library yet.

[2019-01-31 13:47] mehmetkemalbayer opened #2 "AWS Cognito implementation"
Hi,
I want to implement JS SDK of AWS Cognito in Dart.
I have just started to learn Dart after getting started with Flutter.
So if you please help me to start then I think I can handle the rest.
Best.

[2019-01-31 17:55] isoos commented on #2
@mehmetkemalbayer Do you want to start with the AWS Cogito API? I'd rather suggest to start with a smaller extension to the current implementation, because (a) I believe the current code could use some improvements, and (b) it would be easier for you to start on a bigger task after a few smaller ones.

[2019-02-04 08:01] mehmetkemalbayer commented on #2
Hi @isoos,
I'm open to your redirections.
I'm now starting with first task.
Sorry for late response.

[2019-02-04 08:51] isoos commented on #2
Well, I can think of two starting points: the first one is to double check the request signing above, if there is already a library out there that does it (e.g. `crypto` or `pointycastle`).

The second one is to look at the SQS API and see if you can add a new method or two e.g. listing queues.

[2019-02-12 06:00] mehmetkemalbayer commented on #2
Hi @isoos ,
I analyzed js code and found cognito use unauthenticated service call.
You can check here: [https://github.com/aws-amplify/amplify-js/blob/master/packages/amazon-cognito-identity-js/src/Client.js](url)
to see if I missed something.
Now I start adding new methods to SQS API.

[2019-06-25 13:38] ipconfiger opened #7 "Sqs create queue and STS Credentials"
I want to use this lib in Flutter, so i have to implement STS Credentials. And i need create queue API

[2019-06-25 13:44] isoos commented on #7
I'll review and accept PRs, but I don't have time for this at the moment.

[2019-06-25 15:20] ipconfiger commented on #7
I read the code and found sts was already implemented in master branch, so just add Sqs create queue  API. I will post the PRs later.

[2019-06-26 07:40] ipconfiger opened #9 "En, i need SNS API too"
i will post PR five hours later

[2019-07-08 16:49] HotCodeworker opened #11 "" method, newHttpClient() is not found" ERROR !!!"
I tried to build a sample example as main.dart after referring below link on andoirdstudio.
https://pub.dev/packages/aws_client, [https://pub.dev/packages/aws_client](url)

`
import 'package:aws_client/aws_client.dart';
import 'package:http_client/console.dart';

main() async {
  var httpClient = newHttpClient();
  var credentials = new Credentials(accessKey: 'MY_ACCESS_KEY', secretKey: 'MY_SECRET

[2019-07-08 17:52] isoos commented on #11
Try `new ConsoleClient()`.
`newHttpClient` is just a placeholder to decide how to configure your client.

[2019-07-17 19:30] kmcgill88 opened #12 "Lambda"
Great work on this package!

My _itch_ is invoking Lambda's from Dart. If I implement that are you open to PR's?

[2019-07-17 21:09] isoos commented on #12
@kmcgill88 go for it, it will be appreciated!

[2019-07-22 18:16] kmcgill88 commented on #12
Thanks!

[2019-07-22 18:16] #12 closed

[2019-11-17 10:41] Schwusch opened #15 "Write a full-featured SDK based on code generation and predefined API definitions"
# Suggestion
I suggest a discussion about a general solution in order to make a feature complete Dart AWS SDK.

# What has been done
I made an attempt to generate all AWS services, statically typed, by building a [general source code generator](https://github.com/Schwusch/aws_sdk_dart/blob/master/lib/code_gen/library_builder.dart). This [seemed promising](https://gist.github.com/Schwusch/57f165e6b

[2019-11-17 17:01] isoos commented on #15
I think the generated service files will add a tremendous value on their own, the question in my head is more whether and how we want to add a more "natural" API on top of that.

I like the general idea, but I'm not really well-versed in the JS SDK architecture, could you please outline the difference of this suggestion vs. the PR you've submitted? I get the difference between protocols, but how w

[2019-11-17 18:08] Schwusch commented on #15
The hardest issue I found when writing a general code generator was to define the code in the service functions e.g. `DynamoDB.getItem()`. There is [very clear type information](https://github.com/aws/aws-sdk-js/blob/master/apis/dynamodb-2012-08-10.normal.json#L436) in the API JSON files about what goes in and what comes back from the function.

The trouble is defining what happens in the function

[2019-11-17 20:51] isoos commented on #15
One idea that I've explored recently is to generate the Dart classes with `package:json_serializable`, that way the JSON-encode and -decode parts are handed off to another library. One example of this [can be seen here](https://github.com/agilord/owl/blob/master/owl_http/examples/petstore/lib/petstore.messages.dart), in an experimental HTTP-client/HTTP-server stub library. There I am using a servi

[2019-11-18 15:33] Schwusch commented on #15
I was using `package:json_serializable` in the generation approach as well. It greatly simplifies the development on our end.

I agree on starting out with the purely generated solution. The part of typing the interfaces is basically solved with the current generator I have done. The remaining part is creating the [core functionalities](https://github.com/aws/aws-sdk-js/blob/master/lib/core.js) th

[2019-11-19 16:51] Schwusch commented on #15
I have started working on the [downloading and generation part](https://github.com/Schwusch/aws_client/commit/f2356f368c4e13a78f54130a535af3c44021088d) so that the SDK can easily be updated and generated when upstream SDKs update their definitions.

How are we coordinating this work, do we merge work into a feature branch?

[2019-11-19 19:01] isoos commented on #15
The work should be merged into `master`. I think there is not much parallel activity going around, and my main concern is to honour the semantic versioning and offering an easy upgrade path for current users. That can be done while working on `master`, and it also makes coordination easier.

Let's move the current root-level package to the `aws_client/` subdirectory. (I'll do that soon.) Separatin

[2019-11-20 09:32] Schwusch commented on #15
I've made the "shell" of the code generation: https://github.com/agilord/aws_client/pull/16

[2019-11-22 21:12] isoos commented on #15
@Schwusch: what do you have in mind for the next step?

[2019-11-23 14:24] Schwusch commented on #15
I'm thinking from a code generation perspective, if we have the [protocols](https://github.com/aws/aws-sdk-js/tree/master/lib/protocol) implemented, we could "prepare" requests and construct responses. I'm not an expert on `package:http`, but I can do a draft of the `json` protocol for example.

Hopefully, the job is simply translating JS to Dart. I'm going to give it a go this weekend.

[2019-11-24 10:18] Schwusch commented on #15
@isoos I've done my take on the architecture in https://github.com/agilord/aws_client/pull/21 .
It's a draft, and I've haven't thought everything out, but it's a start.

[2019-11-25 22:12] Schwusch commented on #15
I've come to realise that the [model](https://github.com/aws/aws-sdk-js/tree/master/lib/model) classes might be the best things to start with.

My plan so far has been to [convert the JSON definitions](https://github.com/agilord/aws_client/blob/master/generator/lib/generate_command.dart#L67...L74) to a const Dart Map, but that has proven to be an encoding nightmare. The [`pattern`](https://github.

[2019-11-26 21:48] isoos commented on #15
I think it is not critical to provide a verification for values at this point. It may specify a max size, or a pattern, or other constraint, but let's do the service call first. The verification may be added later, as an optional parameter, but if the value is invalid, it will be denied at AWS side anyway, why double the work?

This seems to be overly complex, and I'm not really convinced that we

[2019-11-27 15:54] Schwusch commented on #15
Your right, it can be a later issue. The main argument for adding it is SDK ergonomics, since the backend might have cryptic error messages.

Well the complexity has to go somewhere, and the logic that is present at runtime in the JS SDK, will be present in the code generation at our end. For example, we will have to split codegen into an impressive architecture where the different protocols will

[2019-11-27 20:45] Schwusch commented on #15
I've done a draft of the model classes here: https://github.com/agilord/aws_client/pull/23

[2019-12-04 21:45] Schwusch opened #33 "Create a gitter.im room"
A [Gitter](https://gitter.im/) room for this repository would make discussions a tad easier.

[2019-12-04 21:54] isoos commented on #33
Let's do it in https://gitter.im/dart-lang/server maybe others would join too? It has very low volume, if there were too many different discussions ongoing, we can fork it to somewhere else...

[2019-12-04 21:56] Schwusch commented on #33
Good suggestion, this issue can be closed

[2019-12-04 22:02] #33 closed

[2019-12-19 16:59] isoos opened #63 "One package vs. multiple packages for generated code."
/cc @Schwusch

The current `aws_client/lib/generated` directory is 28MB. `package:googleapis` is a similar package, it is generated from service definitions, and it already had issues on pub.dev with dartdoc-generation or analysis timing out.

Should we aim for N smaller packages instead of one big "everything-in-it" package?

[2019-12-19 21:14] Schwusch commented on #63
That will be a lot of packages... Java SDK does it that way I think. Should the generator generate packages then? Is that possible?

[2019-12-19 21:41] isoos commented on #63
Yeah, we have 219 directories under `lib/generated/`. It is a lot, but packages could be generated the same way as these libraries themselves (they need at minimum a `pubspec.yaml` and their own subdirectory). Not really nice, but versioning and publishing could be scripted too.

As a maintainer, I'd probably prefer the single one, but as a user I'd probably be happier with smaller, specialized pa

[2019-12-19 21:51] Schwusch commented on #63
Would we make someone irritated if we published 219 packages? What is being said in the googleapis discussions?

[2019-12-20 14:04] isoos commented on #63
Roughly these are the things we need to consider:
- A single large all-in-one package can collect popularity and likes easier.
- A single large all-in-one package will take forever (*) to analyze and generate dartdoc for it. (*) The current pub.dev limit is 10 minutes for dartdoc, I've aborted it on my local machine after 25 minutes.
- I've asked around, and on pub.dev there is no worry about an e

[2019-12-21 16:53] Schwusch commented on #63
Tell me if this is a crazy idea: can we have 220 packages, where one is a cumulative package, basically depending on 219 packages and re-exporting them. The analyzing would be distributed then, no? How would dartdoc behave?

[2019-12-21 21:21] isoos commented on #63
Unfortunately it doesn't help the dartdoc API generation, and I doubt that it helps the analysis.

Another aspect: would you like to import the 2-3 libraries you are using, or do you want to have 1, but 97% of them may not be used at all (and potentially increases compile / startup times).

[2019-12-21 21:58] Schwusch commented on #63
If I have understood the JIT-compiler correctly, it won't tree-shake what so ever. That means, that if you import `aws_client` which exports 219 services and all versions of those, everything will be included in the build.

My gut feeling says that 219 packages will be more appreciated. We can experiment afterwards with a cumulative package, no? It feels weird to me that dartdocs and the analyzer

[2019-12-22 09:27] isoos commented on #63
+1

From the public surface point of view, if you export a class (or a full library), it becomes the part of your current library. For the clients these classes are in that library, and they are analyzed and documented as such.

[2019-12-26 17:35] Schwusch commented on #63
If we go the multiple package route, and succeed to sanitize the documentation provided in the JSON somehow (god help us), the packages will be very well documented! A file can be +10k LOC with all the potential documentation there is...

[2019-12-27 13:44] isoos commented on #63
Ok, I'll create the multi-package setup then. With that, I think it may be time to add the generated files to the git repository for reference, and also to track the changes of the codegen on each PR.

[2019-12-28 13:59] Schwusch commented on #63
That's probably a good idea. I am unsure if the `json_serializer`-generated code should be submitted though.

Do you have any thoughts on the shared dependencies? Have them as a separate package which the generated packages depend on?

[2019-12-31 04:25] sspogra opened #83 "AWS dynamoDB"
Can I use it for aws dynamoDB?

[2019-12-31 08:13] isoos commented on #83
@sspogra: not at the moment, but we do have API definitions for DynamoDB and we are working to generate code that will use the protocol required for DynamoDB.

[2020-01-02 08:56] Schwusch opened #95 "Make a new package named 'core' for shared code"
I think it is time to break with the old `aws_client` package, and put shared code for generated packages in a new package named `core`. It is a bit messy, and does not make semantic sense to  use the old package.

It will probably make users confused as well, to "reuse" the `aws_client` package in this way. Versioning would probably also be easier since we're starting at zero with a new package.

[2020-01-02 09:09] isoos commented on #95
How about `shared_aws_api` ?

[2020-01-02 09:22] Schwusch commented on #95
Yeah, the point would just be to separate this new thing from the old.

[2020-01-02 13:44] Schwusch commented on #95
If we are to separate the shared dependencies, the `aws_client` concept doesn't feel relevant.
The `aws_client` prefix in this context for example:
[code]
Since we're going with the multi-package route, and those packages does not have the prefix, that name will only be relevant within the original package.

[2020-01-02 13:48] Schwusch commented on #15
FYI, I made some research, it seems like this is the route AWS themselves has gone with their
[Java SDK v2](https://github.com/aws/aws-sdk-java-v2/tree/master/codegen)!

Perhaps we can draw some inspiration from them

[2020-01-04 08:40] Schwusch commented on #95
This issue is arguably resolved with https://github.com/agilord/aws_client/pull/99. Should we close this?

[2020-01-04 08:42] Schwusch commented on #63
I feel like this is resolved. We generate multiple packages, and it is unlikely to change.

[2020-01-04 08:45] Schwusch commented on #15
Since we are deep into the implementation of this request, perhaps this can be closed?
Discussions can be held in specific issues, and perhaps linked to a [project](https://github.com/agilord/aws_client/projects) task?

[2020-01-04 08:45] #15 closed

[2020-01-04 09:28] #95 closed

[2020-01-04 09:28] #63 closed

[2020-01-05 12:44] Schwusch opened #115 "Improve enum parameters"
I would like better type safety and user ergonomics for enumerated parameters.

A suggestion would be enums with extensions:
[code]

This would be received as such:
[code]

And the call `foo()` would be:
[code]
@isoos, what do you think?

[2020-01-05 12:57] isoos commented on #115
I'd like to see an API call where the enum would be used in a meaningful way. If the client uses the enum value as part of an input request, then the current generated String references seem to be just as good. If they are used in processing an output, then this is not much different from using `switch (value) { case AttributeAction.add: break; }` which works nicely if `add` is `String`.

Unless w

[2020-01-05 13:05] Schwusch commented on #115
How will the users of our packages know about the current generated String references? Is it implied somewhere that they exist?

I'm just thinking from a noobie perspective, if I'm using a service for the first time. I'd like the enum from a developer velocity point of view.

[2020-01-05 13:12] isoos commented on #115
That's a good point!

Maybe we could start with enum-like classes:

[code]

[2020-01-05 13:18] Schwusch commented on #115
I guess a class works too, if the constructor is private, to not confuse users. A public constructor would imply  that you should instantiate it manually.

The backside of the class would be that the documentation might confuse users. I've seen some documentation refer to `AttributeAction.ADD` in this case.

[2020-01-05 13:24] isoos commented on #115
I don't think that a public constructor is too bad. The API may be extended by AWS and new values can be plugged in easily by the users of the library.

I'd rather have the generated code Dart-ish, and try to convert the documentation to use `AttributeAction.add`.

[2020-01-05 15:27] Schwusch commented on #115
I dove head first into this, and the class approach is seriously complicated to serialize/deserialize.
We have to create a `JsonConverter` for every enum/class and annotate that field with the converter.

If we chose enums, I think there is support in `json_serializable`: https://pub.dev/documentation/json_annotation/latest/json_annotation/JsonValue-class.html
I'm just trying to figure out how to

[2020-01-05 15:30] Schwusch commented on #115
It should be said, the `JsonConverter` issue is when the enum is inside another class.
In `dynamodb-2012-08-10.dart` the `AttributeDefinition` class has a member `attributeType` of type `ScalarAttributeType`, which is a String enum.

[2020-01-05 15:35] isoos commented on #115
A sidenote: `JsonKey` has `toJson` and `fromJson` method, we could use them as a single function call.

Another thing to consider: if this seems to be too complex for now, we should probably defer it to a later release, as it provides more value to concentrate on the missing protocols. (It may be a breaking one for the generated packages, but that is handled by a major version changes).

[2020-01-05 15:38] Schwusch commented on #115
I tried the `JsonKey.toJson` field, without success. I don't know if it's a bug in `json_serializer` or if it's only to be used as an override or something.

I'm going to try the enum way real quick.

[2020-01-05 15:59] Schwusch commented on #115
This falls apart because xml-based schemas doesn't use `json_serializer`...

[2020-01-05 16:22] isoos commented on #115
Yeah, those would need to be implemented separately... :(

[2020-01-06 13:57] Schwusch opened #119 "Generate example projects"
Looking at [pub.dev](https://pub.dev), it seems like the packages get minus points if no example project is present. That should be somewhat easy to do for a minimal example, just instantiating the main service class:

[code]

[2020-01-06 14:31] Schwusch commented on #119
PR https://github.com/agilord/aws_client/pull/120

[2020-01-06 14:32] #119 closed

[2020-01-06 14:40] Schwusch commented on #115
This is implemented in https://github.com/agilord/aws_client/pull/116

[2020-01-06 16:09] #115 closed

[2020-01-06 18:54] isoos opened #122 "snake_case conversions"
I've noticed that a lot of the enum values have `snake_case` format, which we may transform to `lowerCamelCase` (or whatever the name for it is). For some it works fine, but for e.g. `usEast1` it is debatable if it is better than `us_east_1`). @Schwusch wdyt?

[2020-01-06 19:08] Schwusch commented on #122
I don't really have an opinion on the matter, as long as they are understandable and functional.
On one hand Effective Dart says [camel case is preferred for constant names](https://dart.dev/guides/language/effective-dart/style#prefer-using-lowercamelcase-for-constant-names), on the other it says further down:

Not sure what's best here
¯\\_(ツ)\_/¯

[2020-01-06 21:00] #122 closed

[2020-01-08 17:55] Schwusch commented on #83
The work done so far on DynamoDB is in this folder: https://github.com/agilord/aws_client/tree/master/generated/aws_dynamodb_api

The shared library does not have a working `json`-protocol implementation yet, so it is not usable right now.

[2020-01-08 18:29] isoos opened #129 "main library for each generated package"
Right now we get a warning when publishing to pub:
[code]

[2020-01-08 18:40] Schwusch commented on #129
Tricky problem.
We could generate a `aws_route53_api.dart` looking something like this:

[code]
But it cannot export different versions because they have the same class name, e.g. DynamoDB.
[code]

Is the warning going to give us negative points or have any other consequences?

[2020-01-08 19:28] isoos commented on #129
Probably no consequences, so we could ignore it for now...

[2020-01-08 19:49] Schwusch commented on #129
We could encourage to use the latest version, and only export the one with the latest date.
The older versions will still be available anyway.
wdyt?

[2020-01-08 19:52] isoos commented on #129
That could work, but then we'd need to track if there is a new version, and do a major version increase, as it would be potentially breaking for people that included the generic library.

[2020-01-08 20:14] Schwusch commented on #129
Well, that settles it for me. That sounds way to complex...

[2020-03-03 12:09] Schwusch opened #138 "Generate tests"
We should be able to generate protocol test cases, much like [aws-sdk-go](https://github.com/aws/aws-sdk-go-v2/tree/master/models/protocol_tests).
It would help development a lot to know if the implementations are correct.

[2020-03-03 16:59] isoos commented on #138
Nice idea!

[2020-04-09 00:55] michael-golfi opened #139 "http library version upgrade"
Hi!

Thanks for the great work! I'm looking to use the generated APIs here and I was wondering if it would be possible to upgrade the version of http. I'm getting a version incompatibility error when running pub upgrade.

Thanks

[2020-04-09 00:57] michael-golfi opened #140 "Latest versions on pub"
Hi!

Thanks for the great work! I'm looking to use the generated APIs here and I was wondering if it would be possible to publish the latest library version on pub. I generated the API for the aws_logs_api and it requires the latest version of the aws_shared_api to be published with the JSON protocol's send function available.

Thanks

[2020-04-09 16:38] isoos commented on #139
@michael-golfi: apologies, I haven't noticed that we've pinned the version. I'll update and release a new one soon.

[2020-04-09 17:34] isoos commented on #139
Released a new version, please reopen if this is still an issue for some reason.

[2020-04-09 17:34] #139 closed

[2020-04-09 17:39] isoos commented on #140
@michael-golfi: By the "latest library version", you mean the shared lib? That was just published, let me know if you need something else. (And thanks for trying out!)

[2020-04-09 18:49] michael-golfi commented on #140
Yes, the shared lib :).

Thanks!

[2020-04-09 18:49] #140 closed

[2020-04-09 22:13] michael-golfi opened #142 "type error in underlying sigv4 client"
Hi again!

I'm trying to generate the AWS logs api for Cloudwatch and I'm getting the following error. I think it's due to the version of sigv4 being used.

[code]

[code]

The problem seems to be fixed in sigv4: 4.0.0. I used a dependency override to verify. Although the interface to the client changed and it expects a body of type string, not Map:

[code]

I updated json.dart:84-94 to the follow

[2020-04-10 10:34] Schwusch commented on #142
It's good to hear that you managed to solve it!
If you have the time, a PR would be most appreciated :)

[2020-04-11 14:09] michael-golfi commented on #142
@Schwusch yes, of course :)

@isoos - I had another issue I was trying to figure out before submitting something. I'm getting unauthorized exceptions with the correct key ID and secret access key.

[2020-04-11 20:32] #142 closed

[2020-04-11 20:33] isoos commented on #142
@michael-golfi: should we wait for that (while you debug or report it) before I release the shared library with the sigv4 upgrade?

[2020-04-12 03:50] lucasdina opened #144 "[BUG] Error When Flattening MessageAttributeValue and MessageSystemAttributeValue"
When sending an SQS message, the library attempts to flatten the extra parameters from sendMessage() at sqs-2012-11-15.dart:1681 in the auto generated package. The optional parameters are for the messageAttributes (Map<String, MessageAttribute>) and messageSystemAttributes (Map<String, MessageSystemAttribute>). Somewhere down the line, send() gets called at query.dart:42 in the shared auto generat

[2020-04-12 05:21] lucasdina commented on #144
I previously lied when I said I didn't have time. Working on a PR right now XD

[2020-04-12 18:44] isoos commented on #144
This is a difficult problem. The data type SQS is using is rich:
https://github.com/agilord/aws_client/blob/master/generated/aws_sqs_api/lib/sqs-2012-11-05.dart#L2470-L2522

However, we only have the basic algorithm for flattening the arguments:
https://github.com/agilord/aws_client/blob/master/shared_aws_api/lib/src/protocol/query.dart#L92-L142

@Schwusch: any idea how we should approach this?

@

[2020-04-12 19:02] lucasdina commented on #144
Here's what the body should look like:
[code]
MessageAttribute and MessageSystemAttribute (now shown) are both maps and have the same format with the exception of the object name. In my PR I pretty much hard coded the MessageAttribute prefixes.

[2020-04-12 19:12] isoos commented on #144
@lucasdina: Thanks!

That's even more interesting: we'd need to map `DataType` to `Type`, and `StringValue` to `Value`. I don't see anything in the JSON API spec that would help us to do that automatically.

@Schwusch: what if we introduce an interface that the shared API can interpret, and make a special case in the codegen for this `MessageAttribute`? That seems to me the least bad resolution of

[2020-04-12 19:36] Schwusch commented on #144
Sorry, I don't have much time to dig in to this right now, but I would look at the Javascript implementation for reference. That would probably clarify things.

[2020-04-12 19:48] lucasdina commented on #144
@isoos I apologize, I accidently sent the wrong body. That was the one I had in my notes for some reason. This one is the one what SQS accepts:
[code]
It requires that extra '.Value' prefix.

[2020-04-12 20:32] isoos commented on #144
Ah, okay, the updated body seems to be better: we still need to generate a toJson() method for it, but it could be much more generic.

[2020-04-12 20:39] Schwusch commented on #144
I did some digging.
The JS SDK uses a [`QueryParamSerializer`](https://github.com/aws/aws-sdk-js/blob/master/lib/protocol/query.js#L20) in the query protocol.
It in its turn uses metadata from the spec to [serialize](https://github.com/aws/aws-sdk-js/blob/59512e1eba4e30b2d91fbde21833118eaa53051c/lib/query/query_param_serializer.js#L18 ) the data.
The spec gives that the [`locationName`](https://gi

[2020-04-12 21:11] Schwusch commented on #144
@isoos The current flattening algorithm looks alright, the arguments just need to be json, as you said.
I guess the `query` protocol has to be added in [Api.generateToJson](https://github.com/agilord/aws_client/blob/master/generator/lib/model/api.dart#L55) and the arguments has to be serialized [here](https://github.com/agilord/aws_client/blob/master/generator/lib/builders/protocols/query_builder.

[2020-04-13 02:51] michael-golfi commented on #142
I can continue debugging anyways. I need to check if the body is getting encoded properly. The error says that the signature does not match the one the server calculated.

[2020-04-13 16:27] isoos commented on #144
Looks like we are not alone in this issue: https://github.com/pplu/aws-sdk-perl/issues/267

Btw. I've just noticed, that the expected format not only flattens the Map of Map, but also removes the plural from the attribute name. Which is a bit tricky, but I guess we should do it too...

[2020-04-13 22:19] isoos commented on #144
I think this issue cannot be solved with the current `[ShapeClass].toJson()` output and generic flatten method. We'll need to generate e.g. an inlined `toFlatMap(String prefix)` that will provide the map based on the shape's config, and "inlined" values will (should) know what to do.

[2020-04-20 02:50] brad-jones opened #150 "generated aws_ec2_api not published?"
Any reason why `aws_ec2_api` doesn't seem to appear at https://pub.dev?

[2020-04-20 06:50] Schwusch commented on #150
The protocol is not yet implemented, in the [generated service](https://raw.githubusercontent.com/agilord/aws_client/master/generated/aws_ec2_api/lib/ec2-2016-11-15.dart) all the methods only contains:
[code]
What is needed is to complete [ec2_builder.dart](https://github.com/agilord/aws_client/blob/master/generator/lib/builders/protocols/ec2_builder.dart) as e.g. [query_builder.dart](https://gith

[2020-04-20 08:54] wajeehulhassanvii commented on #83
Hi @Schwusch is the feature implemented now?

[2020-04-20 09:19] Schwusch commented on #83
I am troubleshooting some request-signing bugs, but otherwise it is coming along.
It is not done yet though.
I might have to write a Signature Version 4 implementation since I haven't found one that works for the JSON protocol.

[2020-04-20 16:33] Schwusch commented on #9
@isoos I believe this issue is [solved](https://pub.dev/packages/aws_sns_api)?

[2020-04-20 16:37] Schwusch commented on #7
@isoos This should be solved now with:
 - https://pub.dev/packages/aws_sqs_api
 - https://pub.dev/packages/aws_sts_api

[2020-04-20 16:38] Schwusch commented on #11
@isoos I guess this has been inactive for a while, time to close?

[2020-04-20 16:46] isoos commented on #11
Yeah, especially as the generated package depend on `package:http`.

[2020-04-20 16:46] #11 closed

[2020-04-20 16:46] #7 closed

[2020-04-20 16:46] #9 closed

[2020-04-20 18:16] Schwusch commented on #1
@caroline171 Have you tried the generated package?
https://pub.dev/packages/aws_s3_api

[2020-04-21 08:49] Schwusch opened #160 "Make AwsClientCredentials constructor argument optional"
In the JS SDK the usage is more ergonomic:
[code]
This step:
[code]
We should be able to do that step in the protocol factory constructor if credentials are null.
That change would make onboarding new users smoother.

[2020-04-21 17:17] isoos commented on #160
sgtm

[2020-04-21 22:06] Schwusch commented on #83
@wajeehulhassanvii You are welcome to try the generated package:
https://pub.dev/packages/aws_dynamodb_api

[2020-04-23 08:27] Schwusch commented on #160
The pattern for doing so in other AWS SDKs is described here, just disregard the Java specific stuff:
https://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/auth/DefaultAWSCredentialsProviderChain.html

[2020-04-23 08:48] Schwusch opened #165 "Write a DocumentClient for DynamoDB"
As good as the DynamoDB api works now, it's not very ergonomic. The JS SDK has what is called a [DocumentClient](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/dynamodb-example-document-client.html) that eases use of DynamoDB.

It should be possible to write a similar package for Dart. Question is if it should be a separate package or incorporated in the generated package.

@iso

[2020-04-23 08:53] isoos commented on #165
There seem to be pros and cons for both ways, and I have no strong opinion on it. Let's do whatever is more productive to get started, we can make both work (e.g. we can update the dependencies if needed).

[2020-04-23 17:08] isoos commented on #160
The only issue I have with the auto-detection is that right now the library is generic, it can be accessed on all the platforms. If we do auto-detection, it will to an extent, be hard-wired to use `dart:io`, making the libraries incompatible with JS apps.

Maybe a few indirection here and there would solve that... not sure yet what's the best decision here.

[2020-04-23 17:14] Schwusch commented on #160
We do conditional imports with stubs on the web, as demonstrated in this article: https://medium.com/@rody.davis.jr/how-to-build-a-native-cross-platform-project-with-flutter-372b9e4b504f

[2020-04-23 17:25] isoos commented on #160
Yeah, as long as `package:http` is using it, we can use it too...

[2020-04-24 17:42] #160 closed

[2020-04-26 16:17] Schwusch opened #169 "XML based packages are broken"
After the XML package was bumped in https://github.com/agilord/aws_client/pull/166/ `query`/`xml` packages broke. We either need to revert to <4.0.0 or update the usage.

[2020-04-26 16:25] isoos commented on #169
What's the error / what did broke?

[2020-04-26 16:40] Schwusch commented on #169
The error says [The method 'findElements' isn't defined for the class 'XmlElement'.](https://pub.dev/packages/aws_sns_api#-analysis-tab-). Seems the api has changed

[2020-04-26 17:13] #169 closed

[2020-04-27 09:03] latesr opened #172 "SES NoSuchMethodError: Class 'Destination' has no instance method 'toJson'."
Whilst trying out your SES support, I encountered the following exception.

[code]

The following code demonstrates this minimally:

[code]

[2020-04-27 09:34] Schwusch commented on #172
This can probably be solved at the same time as https://github.com/agilord/aws_client/issues/144.

@isoos Are you doing any work in this?

[2020-04-27 09:43] isoos commented on #172
Not at the moment :(

[2020-05-19 20:49] pY4x3g opened #175 "AWS dynamodb Bug for ReturnConsumedCapacity"
Hi,

thank you for your library. The aws_dynamodb_api is already working really fine.

I think I found a small bug, the ReturnConsumedCapacity is not working. When I use the option ```returnConsumedCapacity: ReturnConsumedCapacity.total``` for a query or an update operation (DynamoDB.updateItem/DynamoDB.query) I get the following errors.

for a query:
[code]
for an update:
[code]

[2020-05-20 20:38] isoos commented on #175
@pY4x3g: thanks for reporting this

@Schwusch: I believe the issue is that the `payload` receives the `ReturnConsumedCapacity` enum unencoded, and `json.encode` has no idea how to serialize it. We'd need to encode it manually, or create a json-serialized payload object for each request.

[2020-05-20 21:16] Schwusch commented on #175
Ah, this is a shame. Enums that are fields in serialized classes is behaving correctly, because `json_serializable` handles code like this:

[code]

The generated serialization code for `AttributeAction` is:
[code]
Which is then used like so:
[code]

`ReturnConsumedCapacity` is an argument to a method, and is not handled by the serialization library. @isoos You are right that we need to serialize

[2020-05-21 16:45] isoos opened #179 "Rename LICENSE.txt -> LICENSE"
When publishing the generated packages, we get the following warning:

[code]

[2020-05-21 16:46] isoos commented on #175
@pY4x3g: I've published `aws_dynamodb_api 0.0.2`. Please upgrade your dependencies and try it out.

[2020-05-22 09:39] pY4x3g commented on #175
@isoos it's now working fine, thank you very much for the fast fix :)

[2020-05-22 09:39] #175 closed

[2020-05-22 09:45] isoos commented on #175
@pY4x3g: @Schwusch was the one who was able to fix it quickly :)

[2020-05-22 09:47] pY4x3g commented on #175
ops, then thank you for the fast organisation and thanks to @Schwusch for the fast fix :)

[2020-05-22 09:59] Schwusch opened #180 "Lock api definitions version in config"
We should lock the definitions downloaded from `aws-sdk-js` in the [download command](https://github.com/agilord/aws_client/blob/93d65ae9aa5c98096e3059497feef76effe4396d/generator/lib/download_command.dart#L25) with a config entry, pointing to some adequate reference. That would probably make generation more predictable, and wouldn't require @isoos to carefully save the api definitions between ver

[2020-05-23 05:46] Schwusch commented on #180
This is solved with #181

[2020-05-23 05:46] #180 closed

[2020-05-24 18:21] salvatore373 commented on #83
Hi everybody! Is the `aws_dynamodb_api` plugin stable now?

[2020-05-24 19:02] Schwusch commented on #83
Hi @salvatore373!
I've tested some use cases myself, which work fine. We had a bug report https://github.com/agilord/aws_client/issues/175#issuecomment-632599720, and it seems to work for that user now. We are going to release a new version soon with a fix as mentioned here https://github.com/agilord/aws_client/pull/183#issue-422316738. It only affects you if you use binary sets though.
I just mad

[2020-05-24 21:05] salvatore373 commented on #83
Thank you for your response, @Schwusch . I will make my tests and I will inform you of the errors I find.

[2020-05-24 21:43] salvatore373 commented on #83
Is there an example I can follow to implement this plugin in my app?

[2020-05-25 09:17] Schwusch commented on #83
@salvatore373 That depends on the use case, the package has a very similar api to the javascript version, so I would recommend checking out the [javascript examples](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/dynamodb-examples.html).
Or is your question specific to the Dart implementation?

[2020-05-25 09:22] pY4x3g commented on #83
Hi @salvatore373, I'm using the library now without any erros. Here is a small example I just wrote (can be used freely). I had also some issues in starting to use this library, maybe this code snipped can be used for a starting example for the library.
The library can easily be used with the documentations provided by amazon for the aws client examples and the parameters correspond to very simila

[2020-05-25 09:26] salvatore373 commented on #83
Thank you @pY4x3g , that's exactly what I was talking about. I will try your code and I will inform you if I get some problems understading it.

[2020-05-25 09:31] Schwusch commented on #83
To add on @pY4x3g s example, this is not required anymore:
[code]

if the credentials exist as environment variables, they will be picked up and used. If they are not present, the library will look in the `$HOME/.aws/credentials` file like [described here](https://docs.aws.amazon.com/sdk-for-java/v1/developer-guide/setup-credentials.html)

[2020-05-25 09:37] pY4x3g commented on #83
@Schwusch, ah I didn't know about that, thank you for the update :)

[2020-05-25 21:48] salvatore373 commented on #83
@pY4x3g How do you use the `getItem()` method? I can't understand how to point to the node of the table I need using the `Key` object.

[2020-05-25 22:19] pY4x3g commented on #83
@salvatore373 it strongly depends on how your primary index is structured, if you are using a single field as primary key you can just use
[code]
if you have a key with a search index you have to use both keys to get an item, ie
[code]
If you don't know the sorting attribute you have to use a query. Also in the case if you use a secondary index I think you have to use a query against that index.

[2020-05-25 22:39] salvatore373 commented on #83
@pY4x3g Thank you very much for your help. I think I was getting in troubles because I was using a wrong structure of the DynamoDB. I am very new to DynamoDB, I come from Firebase RealTime Database.

[2020-05-26 09:43] Schwusch commented on #165
I think the package is ready to publish now, wdyt @isoos ?

[2020-05-26 09:51] isoos commented on #165
+1, go ahead and publish it!

[2020-05-26 15:09] Schwusch commented on #165
Done :D

[2020-05-26 15:09] #165 closed

[2020-05-26 15:35] Schwusch commented on #83
If you are interested, I've published [document_client](https://pub.dev/packages/document_client), which is supposed to [simplify DynamoDB usage](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/dynamodb-example-document-client.html).

[2020-05-26 21:58] salvatore373 commented on #83
Hi everybody! How can I get an item of database saved as `Map`? And how can I put a `Map` inside an element of the database?

[2020-05-27 07:26] pY4x3g commented on #83
@Schwusch thank you for the simplified library, just a small bug I found while trying this new library. Currently one can not have aws_client and the document_client in the same project because on the not compatible dependencies on xml, the error is as follows
[code]
As I remember correctly the ^ in front of the version does not allow a version change of the first digit since it normally indicates

[2020-05-27 11:37] Schwusch commented on #83
@pY4x3g I'm curious, what do you use `aws_client` for? It hasn't been actively worked on, and there's generated packages with the same functionality now except `lambda`:
- [SNS](https://pub.dev/packages/aws_sns_api)
- [SQS](https://pub.dev/packages/aws_sqs_api)

[2020-05-27 12:18] pY4x3g commented on #83
Ah yes I see, there where just some imports left I forgot to remove. I still thought that I have to include the aws_client package, but you are right. Thanks.

[2020-05-27 12:22] pY4x3g opened #190 "DocumentClient scan not working?"
Hi, I tried a simple scan with the new DocumentClient library and I get the following error:

[code]
command I issued
[code]

[2020-05-27 13:32] #190 closed

[2020-05-27 13:41] Schwusch commented on #190
There's a [new release](https://pub.dev/packages/document_client#-changelog-tab-) with a fix, thanks for reporting!

[2020-05-27 21:24] pY4x3g opened #192 "DocumentClient update bug?"
Now I get an error if I try to run the DocumentClient.update method.
Although I specified the keys I get the following error:

[code]

I guess something is wrong in line 399 of document_client.dart, since the transformation (key: key.fromJsonToAttributeValue()) is returning null...

[2020-05-27 21:26] pY4x3g commented on #190
thanks for the fix!

[2020-05-28 06:32] Schwusch commented on #192
Thanks for the finding :) I did a woopsie in the type translator...
I pushed a [new version with a fix](https://pub.dev/packages/document_client#-changelog-tab-).

[2020-05-28 09:32] pY4x3g opened #194 "[DocumentClient] How to add a List of Numbers (not a NumberSet)?"
Hi,
how do I add a List of Numbers to the database? The translator is translating any number list to a NumberSet which is not ordered and completely random in the dynamodb (`translator.dart:19`). Maybe we should check if the value is already an AttributeValue and return it in this case in the `toAttributeValue` method? With this I could just create the AttributeValue with a value `l` of a list of

[2020-05-28 09:33] pY4x3g commented on #192
Thanks its working now.

[2020-05-28 09:33] #192 closed

[2020-05-28 12:17] pY4x3g commented on #194
If you like the workaround I can create a pull request, but maybe there is a better idea.

[2020-05-28 13:30] Schwusch commented on #194
I think it's a good idea, please do!

[2020-05-28 13:41] #194 closed

[2020-05-28 13:45] Schwusch commented on #194
I'll do a release in a couple of hours when I'm on a computer.

[2020-05-28 20:07] Schwusch commented on #194
@pY4x3g 0.0.6 is released :)

[2020-05-28 20:09] pY4x3g commented on #194
thanks :)

[2020-05-31 21:09] Schwusch commented on #138
The Go SDK generate [smoke tests for the APIs as well](https://github.com/aws/aws-sdk-go-v2/blob/master/private/model/api/smoke.go), I am investigating if it is feasible in our case as well, using their test definitions.

[2020-06-01 10:28] Dinox869 opened #202 "AWS kinesis Video stream"
hey guys, is there any plan on developing the kinesis  video stream for flutter?

[2020-06-01 13:24] Dvoikin commented on #144
@Schwusch this issue is still actual for our project. When it will be fixed?

[2020-06-01 13:46] Schwusch commented on #144
@Dvoikin I don't have time to work on it in the near future, but send us a pull request and we'll have a look at it!
It seems @isoos gave it [a shot](https://github.com/agilord/aws_client/commit/307d7f4ad425a746ae994cffb426d7239aeed206), that commit can perhaps give some pointers.

[2020-06-01 18:28] Schwusch commented on #202
Hi @Dinox869 !
I am not familiar with Kinesis, but I assume you mean one of
- kinesisvideo
- kinesis-video-signaling
- kinesis-video-media
- kinesis-video-archived-media

They're part of the `rest-json` protocol, which we haven't implemented yet.
There needs to be a [shared runtime part](https://github.com/agilord/aws_client/blob/master/shared_aws_api/lib/src/protocol/rest-json.dart) and a [code g

[2020-06-01 20:07] Schwusch commented on #129
I'll close this for now, it can be reopened if there is negative consequences in the future.

[2020-06-01 20:07] #129 closed

[2020-06-01 20:07] Schwusch commented on #1
I'll close this, assuming the problem is solved

[2020-06-01 20:07] #1 closed

[2020-06-01 20:09] Schwusch commented on #2
There is now generated packages for Cognito:
- [Amazon Cognito Identity](https://pub.dev/packages/aws_cognito_identity_api)
- [Amazon Cognito Identity Provider](https://pub.dev/packages/aws_cognito_idp_api)

[2020-06-01 20:09] #2 closed

[2020-06-01 20:10] #83 closed

[2020-06-01 20:39] #179 closed

[2020-06-03 11:09] recepaliskan1 opened #206 "putObject working but throws error"
Hello, s3 upload successful but throws error
return error message = ""<" expected"

My code:
`try {
          await service.putObject(
              bucket: bucketName,
              key: fileName,
              body: imageFile.readAsBytesSync(),
              acl: ObjectCannedACL.publicRead);
        } catch (ex) {
          var error= ex;
        }`

[2020-06-03 13:25] Schwusch commented on #206
Hi @recepaliskan1 !
Do you by chance have the stacktrace?
I unfortunately don't have a possibility to reproduce this myself,
so any more information would help a lot.

[2020-06-04 06:19] recepaliskan1 commented on #206
putObject -> _protocol.send(...) -> parse(body)
body is ""
and parse method throw this error

![git](https://user-images.githubusercontent.com/65152076/83721704-442ce000-a644-11ea-8e34-3fc98419a5fd.PNG)

[2020-06-04 06:58] Schwusch commented on #206
@isoos Does this ring a bell for you?

[2020-06-04 10:43] isoos commented on #206
@recepaliskan1: What happens if you call `getObject()` on a known, existing object in the bucket? Does it work?

Also: is there any chance that you can include the actual exception stacktrace?

[2020-06-05 12:14] recepaliskan1 commented on #206
stacktrace:

[code]

[2020-06-05 15:22] isoos commented on #206
It looks like the http response's body is empty. Not sure why would that be, and how to deal with it in such cases.

[2020-06-17 06:06] Schwusch commented on #138
I see now that [aws-sdk-has the same protocol tests,](https://github.com/aws/aws-sdk-js/tree/master/test/fixtures/protocol) might be good to know

[2020-06-21 10:18] primemb opened #209 "Is this package support Amazon Lex"
Is it possible to call amazon lex api with this package ?

[2020-06-21 16:38] Schwusch commented on #209
We do not have support for Lex Models/Lex Runtime yet, we haven't implemented the `rest-json` protocol yet.
It is something we have planned to implement at some time.

[2020-06-25 07:10] pY4x3g opened #212 "[DocumentClient] put method does not handle null for 'expected' parameter"
Hi,

I tried to use the put method with only ``tableName`` and ``item`` parameter and I get the following error:

[code]
Seems that the value null is not handled for the ``expected`` value. Maybe there is only an ? missing in document_client.dart:239  ?

Edit: yes an ? solves the problem. Line 239 should be
[code]

[2020-06-25 07:28] Schwusch commented on #212
Hi! Thanks for the report.
If you want, make a pull request and I'll do a new release as soon as possible.
A workaround is to give `expected` an empty map until the release is out.
Nice job with the fix!

[2020-06-28 10:33] #212 closed

[2020-08-06 11:10] Schwusch commented on #172
This should be resolved in [version 0.1.1](https://pub.dev/packages/aws_ses_api/versions/0.1.1). @latesr can you verify?

[2020-08-06 11:11] Schwusch commented on #144
This should be fixed in [version 0.1.1](https://pub.dev/packages/aws_sqs_api/versions/0.1.1). @Dvoikin @lucasdina Can you verify?

[2020-08-06 11:50] oysterpack opened #224 "xml dependency needs to be upgraded because it is conflicting with other aws related packages"
The **xml** package dependency version needs to be bumped because it is conflicting with other aws related packages to be upgraded:
[code]

My work around is to override the **xml** dependency:
[code]

[2020-08-06 12:34] Schwusch commented on #224
I wouldn't recommend using `aws_client` anymore if the reason you are using it is [SNS](https://pub.dev/packages/aws_sns_api) or [SQS](https://pub.dev/packages/aws_sqs_api).

However if you are using the Lambda API, then yes, there is no alternative at the moment. If you want, I would appreciate a pull request with updated dependencies for `aws_client` in order to be compatible with the generated

[2020-08-07 18:18] oysterpack commented on #224
Yes - I use the Lambda invoke API. I'll keep an eye out for dedicated Lambda API.

If this package is deprecated, then it wouldn't be worth the time to update dependencies because the dependency_overrides is the work around ... the time would be better spent on working on the new Lambda API package :)

[2020-08-07 18:18] #224 closed

[2020-08-13 06:47] whatamelon opened #225 "version issue"
[code]

every flutter_test depends on [xml 3.6.1], but this library depends on [xml 4.2.0].
So you can downgrade xml version on 3.6.1 or even less?

[2020-08-13 06:56] Schwusch commented on #225
That is weird, I can't find `xml` as a dependency in the [Flutter Test pubspec](https://github.com/flutter/flutter/blob/master/packages/flutter_test/pubspec.yaml), and the dependencies there seems very up to date. Which version of Flutter do you use?

[2020-08-13 07:00] whatamelon commented on #225
Hi @Schwusch, I'm using flutter 1.17 stable.
I just delete flutter_test and install aws_sns_api.
I just got question, How can I use this library?
I can't find any example codes. So its difficult to start coding.
It will be good if you make example codes.
Thankyou!

[2020-08-13 07:20] isoos commented on #225
As this is not a Flutter project, we are not following the exact same dependency stack as Flutter SDK.  You can always override dependencies in you `pubspec.yaml`, and hope that it will work :) - it probably will.

[code]

[2020-08-13 07:20] #225 closed

[2020-08-13 07:23] Schwusch commented on #225
We autogenerate the 120+ packages, so it's hard for us to provide examples. Amazon does [provide examples](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/sns-examples.html) for the Javascript SDK, which is very similar to the Dart equivalent.
For example, this Javascript example:
[code]
This would be written like this in Dart:
[code]
You can read the [documentation on Pub](https

[2020-08-13 07:53] whatamelon commented on #225
@Schwusch, @isoos  Thanks all the kindness!

[2020-08-17 07:36] Schwusch opened #226 "Explore the possibility to use dart-lang/code_builder"
I've totally missed that this package exists https://github.com/dart-lang/code_builder .
It might perhaps have a positive effect on code readability.
@isoos wdyt?

[2020-08-17 11:38] isoos commented on #226
It would be worth to try it...

[2020-08-20 08:18] Schwusch commented on #144
I'll close this for now, the activity indicates that this issue is either solved or not a problem anymore.

[2020-08-20 08:18] #144 closed

[2020-08-20 08:19] Schwusch commented on #172
I'll close this for now. The activity indicates that this may not a problem anymore.

[2020-08-20 08:19] #172 closed

[2020-08-20 12:03] Schwusch commented on #206
I can see in the `PutObjectOutput` definition:
[code]
The information that should be returned is contained in the headers, which we haven't implemented yet.

[2020-08-20 17:54] Schwusch commented on #206
I was wrong, we do extract the headers, but we try to parse the body even if it's empty, which throws an error.

[2020-08-24 23:50] littlekid440 opened #238 "S3 requests is not correctly signed"
My request are failing with the following
[code]

[2020-08-25 05:27] isoos commented on #238
@littlekid440 what package and method were you using?

[2020-08-25 12:38] littlekid440 commented on #238
@isoos this is for aws_s3_api. I have tried a few method and i'm facing the same issue with all of them. eg. `PutObjectOutput s3Result = await service.putObject(bucket: 'flutter-test-bucket-rr123', key: 'testobject.txt');
print(s3Result.versionId.toString());`

[2020-09-06 20:17] Schwusch commented on #238
I wonder if this is a consequence of [this commit](https://github.com/agilord/aws_client/commit/f3bbe736fb7417286660090b2125022428ab7af8).

[2020-09-07 16:16] Dvoikin commented on #144
@Schwusch sorry for the delay. We checked your updates and, unfortunately, they do not work for AWS SNS. We are trying to configure the service for sending SMS. Below is the code:
[code]
We see the next error message: **Exception has occurred.
_CastError (type '_ImmutableMap<dynamic, dynamic>' is not a subtype of type 'Map<String, dynamic>' in type cast)**

In case when we put shapes = null initia

[2020-09-07 16:47] Schwusch commented on #144
Thanks for replying!
I just tried and adding SNS 0.1.1 to another project I'm working on, just initializing it like so:
[code]
It compiled and did not throw any runtime errors. I suspect it will be work if you run `pub upgrade` in your project, getting the latest `shared_aws_api`. Tell me if that doesn't work.

[2020-09-12 16:29] bjoffficial opened #239 "Unhandled Exception: NoSuchMethodError: The getter 'keys' was called on null."
<h2>Key was called on NULL</h2>
I created the new project and I used this aws_kinesisvideo_api package to send the live video broadcast to AWS but I'm getting this error while using this package. I couldn't find any clear documents about how to parse the parameters for KinesisVideo() constructor and even if I pass all the parameters I'm still getting this error. can anyone please help me to find t

[2020-09-13 10:02] Schwusch commented on #239
Thanks for the exemplary bug report! It is a joy to debug when it is detailed like that.

This is a bug in the `shared_aws_api` library, where `RestJsonProtocol.send()` didn't account for headers being null in some cases. In this case, `KinesisVideo.createStream()` do not provide header arguments, since there is none in the specification.
This then fails:
[code]
This is one of those misses that wi

[2020-09-13 10:36] isoos commented on #239
published, thanks for the report and the fix!

[2020-09-13 10:36] #239 closed

[2020-09-13 10:42] Schwusch commented on #238
I've diged further into this, and I found when looking at [the signing documentation](https://docs.aws.amazon.com/general/latest/gr/sigv4-add-signature-to-request.html)

Somewhere in the specs there should be an indication whether the header should be signed or not. I haven't found it yet though.
Have you seen it @isoos ?

[2020-09-13 11:08] isoos commented on #238
Yeah, it seems to be a non-documented/implicit knowledge.

https://github.com/aws/aws-sdk-js seems to use the presence of `credentials.sessionToken` as when to make it part of the signed request. Maybe we could use the same, and just add it to the singed part when it is present.

[2020-09-13 11:13] Schwusch commented on #238
Just checked S3 spec:
[code]

[2020-09-13 16:07] Schwusch opened #241 "Tackle signing protocols"
It seems we have overlooked signing protocols a bit, as showed in #238, and I think it's time to get an overview of what we need to support.

This issue is for tracking the work towards supporting the missing signing protocols.

[2020-09-14 18:25] bjoffficial opened #242 "Kinesis video stream, Video not showing in Kinesis console"
I'm using the below code to create a video stream. However, the video is  not getting streamed at the Kinesis console

[code]
The Logcat for this application

[code]

The terminal output when trying to create the stream

[code]
Here is the image file from the kinesis console

<img width="1440" alt="Screen Shot 2020-09-14 at 11 34 35 PM" src="https://user-images.githubusercontent.com/50042488/93123

[2020-09-14 19:20] Schwusch commented on #242
I am not an expert on Kinesis (I just read [the introduction](https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/how-it-works.html)), but it seems you need the [producer SDK/Client](https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/producer-sdk.html) to actually send the video stream according to their documentation:
![](https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/imag

[2020-09-15 18:26] bjoffficial commented on #242
The code is actually written in a flutter, I tested the Native sample Android code, it was running perfectly. The migration from Android to Flutter is where I'm facing the challenge and looking for an example so that I can get past this.

https://pub.dev/documentation/aws_kinesisvideo_api/latest/kinesisvideo-2017-09-30/CreateStreamOutput-class.html

I'm using the above method/package to create a s

[2020-09-15 19:36] Schwusch commented on #242
This SDK is basically a clone of the Javascript SDK. I would look at the JS examples, since the names are the same.
Here is someone trying to do the same as I believe you are: https://stackoverflow.com/questions/55873939/how-do-i-send-video-data-into-kinesis-video-stream

[2020-09-22 17:09] dariotrombello opened #243 "[document_client] Listening to subscriptions"
Is it planned to implement a feature to listen to updates in the database?

[2020-09-22 17:49] Schwusch commented on #243
I can't find anything about subscriptions in the [original documentation](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/DynamoDB/DocumentClient.html).
Can you explain a little bit more in detail what it is you'd like to see?

[2020-10-05 21:07] #242 closed

[2020-10-21 08:39] xvrh opened #244 "IAM api does not support regions"
Hi, thank you for this awesome libraries :-)

The generated `IAM` api (`iam-2010-05-08.dart`) takes a region parameter and forwards it to the QueryProtocol to build the api endpoint.

From the AWS documentation (https://docs.aws.amazon.com/general/latest/gr/rande.html), the IAM API do not support region.

The IAM API fails with a `SocketException: Failed host lookup: 'iam.eu-west-1.amazonaws.com'`

[2020-10-21 09:26] xvrh commented on #244
It seems the rules used in the JS SDK are here: https://github.com/aws/aws-sdk-js/blob/master/lib/region_config_data.json

Specifically the pattern to use for iam is:
[code]

[2020-10-21 11:53] xvrh opened #245 "XML List are not extracted correctly"
For instance, the generated code for `ListRolePoliciesResponse` in the `IAM` API looks like:

[code]
https://github.com/agilord/aws_client/blob/7d4c87c83fdcdab81db1f0a0be57a805efb684c4/generated/aws_iam_api/lib/iam-2010-05-08.dart#L14691

However the returned response of AWS is:
[code]

So it should use `member` instead of `PolicyNames` in the `extractXmlStringListValues` call.
Or `extractXmlStrin

[2020-10-22 05:22] dariotrombello commented on #243
Seems that it only works with AppSync + DynamoDB. The NodeJS library also doesn't support it.

[2020-10-22 05:22] #243 closed

[2020-10-22 09:34] Schwusch commented on #243
I still find the question interesting though!
It is fully possible that a Dart package with those features is desirable.
DocumentClient is already a handwritten package that isn't generated from an API spec.
I have no knowledge of how it would be done though, perhaps someone with insight into how AppSync works could be the judge of how feasible it is to implement in Dart.

[2020-10-22 10:42] Schwusch commented on #244
Great find! Next problem is to incorporate this with the code generation.
First step is to extract the config file in the [download command](https://github.com/agilord/aws_client/blob/master/generator/lib/download_command.dart#L39-L67), then read it in the [generate command](https://github.com/agilord/aws_client/blob/master/generator/lib/generate_command.dart#L115).
I can't give any guarantees tha

[2020-10-22 10:52] Schwusch commented on #245
The relevant code is located [here](https://github.com/agilord/aws_client/blob/master/generator/lib/builders/library_builder.dart#L425-L428).
It seems `memberElemName` should be conditional somehow. The answer to whether the name should be `member` or something else is probably in the API spec. I haven't looked in to it though.

[2020-10-22 14:03] xvrh commented on #244
Thanks for the pointers.
I'll try to open a pull request :-)

[2020-10-25 13:20] Schwusch commented on #245
I made a PR with the `member` theory. Although the smartest move would be to check how the `aws-sdk-js` library does it, I haven't had the time to analyze it yet.

[2020-10-25 13:44] xvrh commented on #245
Thanks for working on this.
I think that this is what aws-sdk-js is doing: https://github.com/aws/aws-sdk-js/blob/master/lib/xml/node_parser.js#L100

To be able to be more confident for the fix of these kind of protocol mistake, I started to port the tests of the js sdk (test/fixtures/output).

You can see some of the progress here: https://github.com/xvrh/aws_client/commit/b18a39fdb5d95a4e5ba0455

[2020-10-25 20:40] Schwusch commented on #245
Oh man, that's a massive endeavor! I made a [simple attempt](https://github.com/agilord/aws_client/tree/master/shared_aws_api/test/protocol) but you seem to have something seriously valuable in the making.
I look forward to the PR!

[2020-10-26 14:10] xvrh opened #251 "Lambda.updateFunctionCode doesn't work with zipFile"
The `zipFile` parameter should be encoded in base64 by the library but is not.
The `List<int>` is encoded as it in the json which is not recognised by the server.

https://github.com/agilord/aws_client/blob/d31356e0d7ba15a404a673fdf1e8563b8e9bda15/generated/aws_lambda_api/lib/lambda-2015-03-31.dart#L4096

[2020-10-26 14:15] xvrh opened #252 "Lambda.createFunction doesn't work if "publish" is not specified"
The `publish` argument is optional. But if it is not provided, the library puts a `null` value in the request payload which results in a `500 InternalFailure` error.

I guess the generated code should build a map only with the arguments that are not null:
[code]
Or filter it before the `jsonEncode`.

[2020-10-27 10:45] Schwusch commented on #251
Should be pretty easy to fix, throw in a [base64Encode](https://api.dart.dev/stable/2.10.2/dart-convert/base64Encode.html) prefix for those types [here](https://github.com/agilord/aws_client/blob/master/generator/lib/builders/protocols/rest_json_builder.dart#L46-L54).

[2020-10-27 11:10] Schwusch commented on #252
That seems easy to mitigate by adding `'}..removeWhere(
        (dynamic key, dynamic value) => key == null || value == null);` [instead of `'}'`](https://github.com/agilord/aws_client/blob/master/generator/lib/builders/protocols/rest_json_builder.dart#L55) when constructing the payload.
It's either or I guess.

[2020-10-28 13:42] #252 closed

[2020-10-28 13:42] #251 closed

[2020-10-29 19:55] #244 closed

[2020-10-30 19:58] xvrh opened #258 "build_runner on +200 packages is very slow"
Running `pub get` and `pub run build_runner build` on the +200 packages takes a lot of time (>30 minutes on my mac?).

Raw idea:
- Generate all the API's in a single development package where each API has its own folder.
[code]

- Run `build_runner` on this `all_apis` package where it will generate the `.g.dart` files.
- Have an other command that copy the content of each folder and generate the c

[2020-10-31 22:30] Schwusch commented on #258
You should've seen how long it took before it was run in parallel :D
I say, if you have an idea, try it out. If it works, do a PR.
It's _the_ biggest pain working with this repo at the moment, and all improvements are welcome.

My wish is that there is one command that runs on a fresh git clone and does everything, downloads definitions and generates all code, runs build_runner etc.
I don't think

[2020-11-01 13:36] xvrh commented on #258
I did a quick test with a `all_apis` package. `dart pub run build_runner build` takes less than a minute!
`Succeeded after 48.5s with 442 outputs (685 actions)`

I'll continue experimenting with this approach.

[2020-11-02 19:41] #258 closed

[2020-11-03 20:17] xvrh opened #260 "Support hostPrefix option in operation model"
It seems the operations can customise the endPoint to use by adding a prefix

[code]

We should probably add that option to the `send` methods of the protocol and adapt the internal `_endpoint.url`.

Some tests in the generated suite cover this behaviour.

[2020-11-05 11:19] biancashouse opened #264 "Amazon SES SendRawEmail API,"
Wanting to send a PDF attachment using the Raw api...

[2020-11-06 07:03] biancashouse opened #266 "Chicken and Egg Question"
If I need to use my api key and secret in order to instantiate a Secrets Manager, what's the point of using it ?

[2020-11-06 08:31] #245 closed

[2020-11-12 20:44] xvrh opened #272 "Use api.metadata.signingName if not null"
`signingName` should have priority over `endpointPrefix` to compute the signature.

There are about 40 apis impacted

In aws-js-sdk: https://github.com/aws/aws-sdk-js/blob/4fd99d087f245f23b164219fba62156af060770e/lib/service.js#L462

[2020-11-15 19:32] #272 closed

[2020-11-28 21:09] xvrh opened #283 "[Test suite failures] Idempotency token"
4 failures comes from "Input / Idempotency token auto fill" tests.

From what I understand, some members are marked with `idempotencyToken: true`. If not specified by the users, those members should be autofilled by the library with a generated uuid.

The test mocks the uuid generator to always use `00000000-0000-4000-8000-000000000000`

[2020-11-28 21:09] xvrh opened #284 "[Test suite failures] Json trait"
2 tests related to "Json trait" are failing.

Some members are marked with `jsonvalue: true`. Those members should have a `Object` dart type and be automatically json encoded/decoded by the library.
For input in header, the value should also be base64 encoded.

[2020-11-28 21:09] xvrh opened #285 "[Test suite failures] Output complex Map values"
One output test is still failing because we fail to decode `Map<String, DateTime>` with a custom timestamp format.

One of the solution is to create a custom `JsonConverter` for each timestampFormat and apply it to the properties that need it.

[2020-11-28 21:10] xvrh opened #286 "[Test suite failures] Path and query parameters"
About 6 tests related to how we encode query parameters and path parameters still fail.

- Encode each query parameter (specially those encoded with a custom timestamp format)
- "Greedy keys"
- Recognise enums in "path parameters"
- List in query parameters (`?List=1&List=2` => it requires to use a custom class instead of a `Map`)

[2020-12-04 18:14] #286 closed

[2020-12-04 21:18] xvrh opened #288 "DateTime from server doesn't always respect protocol format"
I notice some `rest-json` protocol returns some DateTime encoded as iso8610.
While this library try to interpret it as unixTimestamp
https://github.com/agilord/aws_client/blob/e68105fae4527f0fe44487fcc18de48976b55648/generator/lib/builders/library_builder.dart#L254

I see that aws-js-sdk has a parse function that try to support every format:
https://github.com/aws/aws-sdk-js/blob/7d4dd548f74f739db

[2020-12-07 18:35] Schwusch commented on #288
Do you know which `rest-json` services have this behaviour? I'm thinking we might have missed some property in the definitions, or we should at least investigate.

[2020-12-07 19:48] xvrh commented on #288
I investigated this and have found the (nasty) bug. I'll open a pull request with the details soon.

[2020-12-07 20:46] #288 closed

[2020-12-07 22:50] Schwusch commented on #285
I just did some investigation around this, and it seems no services has maps of DateTimes, only that test.

[2020-12-08 08:24] xvrh commented on #285
There are 2 json apis with `List<DateTime>` (QuickSight and ComputeOptimizer) that would fail currently like the Map.
The solution with the JsonConverter would fix both map and list. I think we should keep the test.

[2020-12-09 10:43] Schwusch commented on #285
Should we create a test that actually tests the list case then?

[2020-12-09 14:30] Schwusch opened #292 "Migrate to null safety"
We will have to support null safety at some point, and this ticket is for tracking that work.

[2020-12-11 06:54] Schwusch commented on #292
At the time of writing, `shared_aws_api` is listed as the 7:th most blocking package blocking null safety migration:
https://github.com/dart-lang/sdk/wiki/Null-safety-migration-status

[2020-12-13 23:34] Schwusch commented on #285
I added a case for the datetime lists and a fix for that case in #291

[2020-12-19 22:06] Schwusch commented on #292
As it stands, we have 3 dependencies that are not migrated:
- package:crypto - https://github.com/dart-lang/crypto/issues/105
- package:http - https://github.com/dart-lang/http/issues/501
- package:build_runner - https://github.com/dart-lang/build/issues/2920

It seems `package:http` is close to a migrated release, and `package:crypto` seems to be migrated but no release.
I don't think `package:bu

[2020-12-20 12:25] xvrh opened #293 "Proposal: drop json_serializable dependency"
It seems we have all the code necessary to [encode](https://github.com/agilord/aws_client/blob/master/generator/lib/builders/builder_utils.dart#L26) and [decode](https://github.com/agilord/aws_client/blob/master/generator/lib/builders/builder_utils.dart#L7) `Shape` in json. We use this code to serialize/deserialize the root Input and Output shape of an Operation.

I did a quick experiment and was

[2020-12-20 13:06] #285 closed

[2020-12-20 13:11] Schwusch commented on #293
I'm not sure I fully understand. Could you give an example of what would be migrated from `json_serializable` to `encodeJsonCode`/`extractJsonCode`?

[2020-12-20 13:27] Schwusch commented on #283
I'm having a look at this, and I'd like to bring in `package:uuid` for token generation.
There is no published null safe version yet because of the `package:crypto` dependency not having a null safe version yet.
A null safe release is [being prepared](https://github.com/Daegalus/dart-uuid/issues/50) though.
Any thoughts on bringing in this dependency?

[2020-12-20 14:34] xvrh commented on #293
Hi Jonathan,
Sorry for not being clear, I'll try to clarify :-)

This is more or less what we generate now in rest-json api:
[code]

### Proposal
Remove the json_serializable step and generate directly fromJson/toJson for the Structure shapes.
[code]

### Reasoning
We already have all the code needed to generate those methods because we have to generate it in the operation method.

### Experiment

[2020-12-20 14:39] xvrh commented on #283
I don't have an opinion on this extra dependency.
If it's a problem we could also just do a small function ourself based on DateTime + Random.next().

[2020-12-21 15:19] #283 closed

[2020-12-21 15:30] Schwusch commented on #293
I am a bit afraid to roll our own serialization code, but I think could be something to try after we migrate to null-safety if you want to :)
I'd like to make one release after we've fixed the unit-tests and before we start with null safety.
Messing with serialization before the big release feels risky, don't you think?

[2020-12-21 15:49] xvrh commented on #293
Sure! I understand that it's risky and we will need some time to test it.
I won't go ahead with that right now :-)

For the medium term though I think this is a really a GREAT opportunity to simplify the code generation (and speed it up).

[2020-12-22 12:07] Schwusch commented on #260
@xvrh Is this fixed? I can't see any failing tests on this subject :)

[2020-12-22 12:28] xvrh commented on #260
It is not fixed. The "test generator" generates a commented-out `expect` (https://github.com/agilord/aws_client/blob/master/generator/lib/builders/test_suite_builder.dart#L72).

To be honest, I'm not sure what it is. When I look at the `aws-sdk-js` I see that there are a lot of features and conditions to infer the correct endpointUrl that we don't support either.
I personally don't plan to work on

[2020-12-24 13:17] jcblancomartinez commented on #238
Hi @Schwusch,

I'm also having the same issue as @littlekid440

When signing S3's PutObject operation via aws_s3_api, I'm getting:

[2020-12-24 13:21] jcblancomartinez commented on #238
Hi @Schwusch,

I'm also having the same issue as @littlekid440

When signing S3's PutObject operation via aws_s3_api, I'm getting:

<Error><Code>AccessDenied</Code><Message>There were headers present in the request which were not signed</Message>
<HeadersNotSigned>x-amz-security-token</HeadersNotSigned>

It seems that S3 expects 'X-Amz-Security-Token' header to be signed in and here you are not si

[2020-12-24 13:21] jcblancomartinez commented on #241
Hi @Schwusch,

I'm also having the same issue as @littlekid440

When signing S3's PutObject operation via aws_s3_api, I'm getting:

<Error><Code>AccessDenied</Code><Message>There were headers present in the request which were not signed</Message>
<HeadersNotSigned>x-amz-security-token</HeadersNotSigned>

It seems that S3 expects 'X-Amz-Security-Token' header to be signed in and here you are not si

[2020-12-25 13:05] Schwusch commented on #238
Hi @jcblancomartinez,
we don't have any ETA on anything, generally.
We're doing this library in our spare time, and we happily accept pull requests!

I am not sure how to approach this problem, S3 seems to be a different beast with features e.g. presigned urls.
In aws-sdk-js, it has a [separate signer](https://github.com/aws/aws-sdk-js/blob/master/lib/signers/s3.js), although it may also be [signe

[2020-12-25 14:52] Schwusch commented on #241
S3 seems to be a little bit special and is tracked in #238

[2021-01-02 23:03] #284 closed

[2021-01-02 23:24] Schwusch commented on #138
@xvrh solved this for us :D

[2021-01-02 23:25] #138 closed

[2021-01-03 11:22] Schwusch opened #297 "Release time?"
Given all the fixes that has been done, is it time to make a new release of all the packages?
I will assume the flow to be something like:
1. Bump and release the `shared_aws_api` package at a version high enough that it won't accidentally be used by old packages.
2. Bump the `shared_aws_api` dependency version in the generated packages.
3. Bump the generated packages versions (not sure how much,

[2021-01-04 20:30] xvrh commented on #297
+1 for a release!

Not sure it's really ready for 1.0. Like you said, there may still be some issues with signatures.

[2021-01-05 17:01] xvrh opened #299 "Reconsider one package vs. multiple packages"
I'd like to re-open the discussion about single vs several packages.

I read the discussion of last year here: https://github.com/agilord/aws_client/issues/63
The main reason to split the apis in several packages was to prevent the documentation generation to timeout on pub.dev.

I personally think that the advantages of the single package option outweighs this small inconvenience.

**Pros of a si

[2021-01-05 18:05] Schwusch commented on #299
I suppose it doesn't hurt to try it.
What I'm wondering is how we should export the classes on our part, and how the users import them in their applications.
How easy will it be to find the correct service/class?
Perhaps if we create the package on this repo without publishing, we can try it out :)

[2021-01-05 18:08] isoos commented on #299
I can try to lobby for putting the package (and other similar large packages) on an exception list with longer timeouts (possibly only for the latest stable version).

[2021-01-05 18:18] xvrh commented on #299
Thanks for your input!

Let's experiment. As a first step, I'll modify the generation of the `all_apis` package with the layout I propose.
The way I see it, the imports will be:

[code]

The autocompletion will show all the available services at first and then the available versions.

[2021-01-15 23:27] Schwusch commented on #299
I'd like to point out that [aws-sdk-js V3](https://www.github.com/aws/aws-sdk-js-v3/tree/master/packages) is generating(!) separate packages.

[2021-01-16 15:19] xvrh commented on #299
@Schwusch This is a very interesting discovery!!

I have experimented with the single package structure here: https://github.com/xvrh/aws_client/tree/master/aws_client/lib
I understand it's mainly a matter of taste and I don't want to push it in that direction if your are not convinced :-)

[2021-01-17 19:38] Schwusch commented on #299
That looks incredibly clean I must admit!

I dug further into `aws-sdk-js-v3`, and apparently they use something called [Smithy](https://github.com/awslabs/smithy) to generate the clients. Smithy is language agnostic, so they use [smithy-typescript](https://github.com/awslabs/smithy-typescript) to generate the JS SDK. Which makes me wonder if it would be worth looking into making a `smithy-dart` t

[2021-01-18 11:08] omchiii opened #300 "Invoking a lambda function does not return payload"
[code]

This code snippet successfully invokes a lambda function but it returns a catch error "202 UnknownError: 202". Whereas this functions response should be "Hello from lambda". What am I doing wrong?

[2021-01-18 12:59] Schwusch commented on #300
This was fixed in https://github.com/agilord/aws_client/commit/c08eb07ae8a6bcec53e920a02fe935cd8cf83f79, although a release hasn't been made since then.

[2021-01-18 13:09] Schwusch commented on #297
I might go ahead and do a release soon, we're getting issues such as #300, which we've fixed since last release.

[2021-01-18 14:30] omchiii commented on #300
I changed the those two lines in the source files. Now I get this "FormatException: Unexpected end of input (at character 1)
" , same code as the above.

[2021-01-18 14:45] Schwusch commented on #300
I haven't seen that one before, @xvrh something you recognize?
@omchiii Do you have a stacktrace you can share?

[2021-01-18 14:59] omchiii commented on #300
` final String region = "us-east-1";

    try {
      CognitoAuthSession session = await Amplify.Auth.fetchAuthSession(
          options: CognitoSessionOptions(getAWSCredentials: true));

      AwsClientCredentials cred = AwsClientCredentials(
          accessKey: session.credentials.awsAccessKey,
          secretKey: session.credentials.awsSecretKey,
          sessionToken: session.credentials.s

[2021-01-18 15:02] omchiii commented on #300
`if (rs.statusCode < 200 || rs.statusCode >= 300) {
      throwException(rs, body, exceptionFnMap);
    }`

I only changed this if statement , both in "json.dart" & "rest-json.dart" from shared_aws_api-0.2.4.

[2021-01-18 15:06] xvrh commented on #300
I think this is something that will be fixed with the next version too. The body of the response is not a JSON file.
@omchiii you can try to depend on the version in github:

[code]

[2021-01-18 15:38] omchiii commented on #300
`flutter : success`
`[]` // this is InvokationResponse.payload

First of all thank you @xvrh  & @Schwusch for your help. The response now isn't an exception but there is a different issue, the payload(InvokationResponse.payload) of the invocation is "[]". When I invoke my lambda through AWS Console it returns me "Hello from lambda".

[2021-01-18 15:41] omchiii commented on #300
` List<int> list =
            '{"key1": "value1","key2": "value2","key3": "value3"}'.codeUnits;

        InvocationResponse lambdaResponse = await service.invoke(
            functionName: "amplify-lambda-invoke-test",
            invocationType: InvocationType.event,
            payload: Uint8List.fromList(list));
        print("sucess");
        print(lambdaResponse.payload);` I tried doing it

[2021-01-18 15:57] xvrh commented on #300
@omchiii can you try to print `lambdaResponse.logResult` and `response.functionError` (or inspect the response with a debugger)?
I'm not able to reproduce, I quickly tried with one of my lambda and I'm correctly receiving the response payload...

[2021-01-18 16:00] omchiii commented on #300
`final String region = "us-east-1";

    try {
      CognitoAuthSession session = await Amplify.Auth.fetchAuthSession(
          options: CognitoSessionOptions(getAWSCredentials: true));

      AwsClientCredentials cred = AwsClientCredentials(
          accessKey: session.credentials.awsAccessKey,
          secretKey: session.credentials.awsSecretKey,
          sessionToken: session.credentials.se

[2021-01-18 16:02] xvrh commented on #300
OK, you right, with `InvocationType.event` I don't have a result neither. It seems to make sense. From the doc:
[code]

[2021-01-18 16:04] omchiii commented on #300
Yes, my mistake. I read the documentation but I switched up the two invocation types in my mind.

[2021-01-18 16:10] #300 closed

[2021-01-18 21:31] Schwusch commented on #297
All packages except `document_client` have been updated in #301 and published,
- shared_aws_api -> 0.3.0
- generated packages -> 0.2.0

[2021-01-18 21:35] Schwusch commented on #300
@omchiii There is now a new release on pub.dev if you don't want to depend on Github in your pubspec.

[2021-01-19 09:34] #297 closed

[2021-01-22 15:08] xvrh opened #302 "Allow to close the internal http.Client"
Each protocol creates a `http.Client` internally if none is provided in the service constructor.
But we don't expose this client and don't offer a way to close it.

When a client is not closed, the process hangs for several seconds until it timeouts.

So the correct way to use the API right now is to pass the client manually and close it.
[code]

We could improve the situation with either:
- Add a

[2021-01-22 15:20] isoos commented on #302
Creating client for each request seems to be a waste of resources. At other places I've seen the following pattern:
- auto-create client in the constructor, close it in the `close()` method
- when a `client` is provided in the constructor, do not close it in `close()`

[2021-01-25 21:54] cup-a-snot opened #303 "SQS Bad response code = 400, statusText=Bad Request with example"
I tried the example for SQS and replaced the values with mine and I get the following error:

This is my code:
`var credentials = Credentials(
        accessKey: 'XXXXXXXXXXXXX',
        secretKey: 'YYYYYYYYYYYYYYYYYY');

    var httpClient = http.ConsoleClient();
    var aws = new Aws(credentials: credentials, httpClient: httpClient);
    var queue = aws.sqs
        .queue('https://sqs.us-east-1.

[2021-02-23 07:06] IchordeDionysos commented on #292
@Schwusch looks like you are now unblocked and should be able to migrate to null safety :)
Also you are now the 2nd most blocking package after `dio`

[2021-03-15 15:09] saharvx9 opened #304 "Support flutter 2 + null safety"
Pls support flutter 2 :)

[2021-03-16 08:12] Schwusch commented on #304
Duplicate of #292.
FYI, the packages are totally independent of Flutter, and can be used in any Dart project.

[2021-03-16 08:12] #304 closed

[2021-04-01 17:39] ManuLpz4 opened #307 "[Question] How do you use it for push notifications/refresh purpose?"
Hi guys, hope you are doing well 😁

I'm trying to integrate a push notifications and refresh service to my app and I'm facing the following issue:
Firebase messaging works well with push but I can't trust in it to refresh the balances (it's a wallet) in the app so I thought that I can migrate all or only the refreshing part to SNS service because it's more robust and we can manage our SQS too.

##

[2021-04-13 17:14] pshichenko commented on #292
Any way I can help with this?

[2021-04-13 17:32] Schwusch commented on #292
@psichenko There is a branch, `null_safety`, that you are welcome to fork and work on.
I currently have migrated the shared package, and there is some attempts to generate null safe code in the generator.
First step is to try to run the generator and observe the changes.
Feel free to ask questions on Gitter at dart-lang/server if you need quick answers.

[2021-04-13 18:17] xvrh commented on #292
Hi Jonathan, if you are not working on it right now, I may give it a try starting from you branch.

[2021-04-28 00:31] Michaelorj commented on #307
Dear investor,
having some issues in your trust wallet? Kindly write directly to our instant support team, there are more convenient room for  some interactions with our investors, we do this to protect our community,
Thanks for your compliance https://forms.gle/FqwRxhN2bDF5UVBw8

[2021-05-05 14:20] MurtuzaSrashtaSoft opened #310 "Version issue flutter 1.12.6 to 2.6.0"
we migrate out code flutter 1.12.6 to 2.6.0 but we have received the below error while pub get.

Because every version of flutter_localizations from sdk depends on intl 0.17.0 and shared_aws_api >=0.1.2 depends on intl ^0.16.1, flutter_localizations from sdk is incompatible with shared_aws_api >=0.1.2.
And because aws_dynamodb_api >=0.2.0 depends on shared_aws_api ^0.3.0, flutter_localizations fro

[2021-05-13 22:53] biancashouse opened #311 "N U L L S A F E T Y ;-)"
Pretty Please. Pls don't make me go back to f***base !

[2021-05-17 13:18] chirag729 opened #312 "apigatewaymanagementapi postToConnection failing"
postToConnection is failing with 403 InvalidSignatureException.

I managed to resolve the issue with the following modification to line 109 of apigatewaymanagementapi-2018-11-29.dart

`requestUri: '/@connections/${Uri.encodeComponent(connectionId)}',`

`requestUri: '/${Uri.encodeComponent('@connections')}/${Uri.encodeComponent(connectionId)}',`

[2021-05-19 10:50] saharvx9 commented on #311
PLS SUPPORT IT!!!

[2021-05-20 13:57] xvrh commented on #311
Null safety is merged on master in this repository. It is not published on pub.dev yet, so you have to depends on this package with git dependencies in your pubspec.yaml.

[2021-05-20 15:02] Schwusch commented on #311
Perhaps it would be useful to make a prerelease on pub.dev? Would be good to get some testing from folks that don't want to have a git dependency.

[2021-05-23 15:37] chirag729 opened #313 "aws_cognito_idp_api username validation fails"
Username validation seems to be incorrect. I'm getting an error on adminDisableUser and adminDeleteUser with the username: 79fa9100-69d0-4fa0-aeef-68c6e7bf5d66

Invalid argument (username): Argument does not conform to [\p{L}\p{M}\p{S}\p{N}\p{P}]+: "79fa9100-69d0-4fa0-aeef-68c6e7bf5d66"

[2021-06-02 04:45] raenAtTrantor opened #314 "[not a issue- just a request] proper docs for the implementation"
hey guys,
First of all, I would like to thank u guys for making aws more accessible to the flutter community.

this is a request for the developers to please provide the community with proper docs. For instance, I was trying to implement aws chime for video calling in my app could not figure out what to do. for now, I am settling for a native implementation.

if u guys can show me how to do this i

[2021-06-02 06:54] arjunkn commented on #314
![image](https://user-images.githubusercontent.com/4979735/120437104-5f3c4800-c39d-11eb-89ec-420049af78dc.png)

Can anyone please tell me where is this documentation located?

[2021-06-04 10:50] Schwusch commented on #314
On all pub packages there is an API reference, which in this case is documented automatically by the specification taken from the JS SDK. Unfortunately we cannot provide examples in more detail since the packages are generated.

Something that could be of more help is the [AWS code samples for the V2 JS SDK](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/sdk-code-samples.html) w

[2021-06-08 17:56] logblythe opened #315 "How do we use it to stream videos to Kinesis stream?"

[2021-06-14 09:59] satyajitghana commented on #315
+1 on this, i've been searching for a solution for weeks, havn't found any.

One way is to use Android Producer library and use Dart to call that, but that defeats the purpose of having flutter libraries of aws.

[2021-06-14 09:59] satyajitghana commented on #315
@logblythe found anything?

[2021-06-14 10:01] satyajitghana commented on #242
The JS Library has no Producer Code. So it implies flutter video produce for kinesis is not existent ?

[2021-06-14 14:30] Schwusch commented on #242
@satyajitghana It does not exist in this SDK atleast.

[2021-06-14 14:40] Schwusch commented on #315
This is the same discussion as in #242. This SDK does not the include the Kinesis producer capability.

[2021-06-14 14:40] #315 closed

[2021-06-14 14:43] Schwusch commented on #314
Unless anyone has a suggestion on how to automatically generate code samples/better documentation I suggest we close this issue and reopen if there is more activity around this topic.

[2021-06-14 14:43] #314 closed

[2021-08-09 05:23] simonbuchan opened #316 "Design / feature: Unsigned requests and temporary credentials"
First off, thanks for your work so far on this!

I'm looking at using our current services from Flutter, and I've got two issues so far, both of which are pretty closely related and have a decent, but potentially API breaking, fix.

First I would like to be able to use the generated cognito-idp clients for the *non* admin APIs, that is, sign in, confirm codes, etc. as the existing official amplify

[2021-08-09 05:34] simonbuchan commented on #316
As an example, my preference for implementing this would look something like:

[code]

[2021-08-12 06:10] MurtuzaSrashtaSoft opened #319 "Please update pub with nullsafety and latest pub"
Please update the pub with null safety and the latest pub.

There are 3 new pull requests please do a moment on that.

[2021-08-12 07:20] BlackStriker99 commented on #311
Hello @xvrh, I Have tried using git repo  dependency but it is giving me error pubspec.yaml missing.

![Screenshot from 2021-08-12 12-41-14](https://user-images.githubusercontent.com/40071991/129153594-ff77fdd4-45a6-40b2-a742-7d2d2f364911.png)

My Pubspec.yaml file is like this

![Screenshot from 2021-08-12 12-48-17](https://user-images.githubusercontent.com/40071991/129154509-ad97874f-09cb-4308-a

[2021-08-12 07:24] isoos commented on #311
@BlackStriker99: Follow the last example in the pubspec documentation:
https://dart.dev/tools/pub/dependencies#git-packages

There is a `path` property which you can use to specify a directory inside the repository.

[2021-08-12 07:50] BlackStriker99 commented on #311
Thanks for quick reply @isoos i have already tried that and i always get same error

when i tried with git@github.com: (SSH)

![Screenshot from 2021-08-12 13-13-46](https://user-images.githubusercontent.com/40071991/129157956-0bb1f124-af27-4e9d-8ce7-2466fa43ecc1.png)

I got

![Screenshot from 2021-08-12 13-15-52](https://user-images.githubusercontent.com/40071991/129158296-1c0a3994-e4e2-4e5c-bc52-

[2021-08-12 08:17] isoos commented on #311
You need to use `path: generated/aws_dynamodb_api`

[2021-08-12 10:30] BlackStriker99 commented on #311
**Thanks !!** @isoos i was able to get this package from git repo

[2021-08-24 04:49] wijesijp opened #320 "Is there any documentation?"
Can't find any documentation detailing how to integrate this package with flutter.

Can you please provide a link to some documentation showing how to use this with flutter?

[2021-09-06 05:35] Scylla2020 commented on #320
I found this helpful.

[https://github.com/agilord/aws_client/blob/master/aws_client/examples/lambda.example.dart](url)

[2021-09-06 05:38] Scylla2020 commented on #320
Bit of documentation here:

[https://pub.dev/documentation/aws_client/latest/index.html](url)

[2021-09-23 12:53] lucabeetz opened #321 "Dependencies don't support null safety"
I would like to use `aws_kinesisvideo_api` but whenever I try to build the project I get the following error:

[code]

This is my `pubspec.yaml` entry for the dependency:

[code]

Output when running `dart pub upgrade`:

[code]

[2021-10-01 10:27] MurtuzaSrashtaSoft commented on #319
i m not able to update flutter SDK with the latest because this pub does not support for latest flutter SDK.

[2021-10-19 14:12] Monik09 opened #322 "How to integrate this along with amplify_flutter: ^0.2.5"
I have tried many times but always gets error when putting this along with the official package of amplify.
[code]

So is there any way to make this work?

[2021-11-15 16:56] Ashish-Raturi opened #323 "Thanks you guys for aws_dynamodb_api plugin you saved my day 👍"
thanks you guys kept it up, 👍. I liked your all plugins.

[2021-11-27 11:57] ryanheise commented on #311
Although note that even this version in Git still has an outdated dependency on the hosted, _non-nullsafe_ version of shared_aws_api, so if you want to run it with the correct dependency, you'll need to fix it with a dependency override:

[code]

[2021-12-13 15:20] Schwusch commented on #323
Glad to hear it :heart:

[2021-12-13 15:20] #323 closed

[2021-12-16 22:26] Schwusch commented on #322
Seems like it worked out, I'm going to close this issue now.

[2021-12-16 22:26] #322 closed

[2021-12-16 22:28] Schwusch commented on #292
I guess we can close this now as the null safe services has been published as 1.0.0 in #324
Better late than never :sloth: :runner:
Thanks everyone who helped, @xvrh in particular :heart:
![itsdone](https://user-images.githubusercontent.com/8165610/146456272-3dce264f-e3a0-4548-a672-b26f1bf1dbf2.gif)

[2021-12-16 22:28] #292 closed

[2021-12-16 22:30] Schwusch commented on #321
Hi @lucabeetz !
Can you try and update `aws_kinesisvideo_api` to 1.0.0?
It should solve your problem.

Cheers

[2021-12-16 22:31] Schwusch commented on #319
Hi @MurtuzaSrashtaSoft !
All packages has been updated to null safe 1.0.0 on pub, does that solve your problem?

[2021-12-16 22:32] Schwusch commented on #311
All packages are now updated to null safety at version 1.0.0.
Please open another issue if there is any problems with those versions.

[2021-12-16 22:32] #311 closed

[2021-12-16 22:34] Schwusch commented on #310
Hi @MurtuzaSrashtaSoft !
Does updating `aws_dynamodb_api` to version 1.0.0 solve your problem?

[2021-12-16 22:34] Schwusch commented on #293
Can we consider this done now?

[2021-12-17 08:10] xvrh commented on #293
Yes if I remember well, it was done with null-safety (https://github.com/agilord/aws_client/pull/308)

[2021-12-17 08:10] #293 closed

[2021-12-17 23:38] Schwusch commented on #316
Was this solved when merging #318?

[2021-12-18 00:42] simonbuchan commented on #316
Good question! I think, technically the first part is, in that you can pass invalid credentials that will be ignored for service actions that don't expect authentication, but I believe you can make unauthenticated requests otherwise if IAM grants public access, and overall it's really a clumsy hack rather than a deliberate API.

Really the issue is that second part about temporary credentials, (wh

[2021-12-20 15:58] Schwusch commented on #316
I was annoyed the other day when I wanted to assume a role in order to access some resource, since we don't support resolving credentials through STS, as the JS SDK does.
We don't even support using a session token from the shared `~/.aws/credentials` file.
I think it would be a good idea to copy the "credential provider" approach you mentioned, which would offer more flexibility/extendability.
I

[2021-12-20 21:57] Schwusch commented on #316
I started experimenting on this branch https://github.com/agilord/aws_client/tree/resolve_assumed_roles_credentials .
It's not a copy of how the JS SDK does it, but a least effort adjustment that enables my use case with the assumed role from STS.
Theoretically, all sorts of providers can be added I guess.

[2021-12-24 05:55] Ashish-Raturi opened #326 "Please add Null Safety to document_client Plugin"
Please add Null Safety to document_client Plugin.

[2021-12-25 13:09] Schwusch commented on #326
Done!
https://pub.dev/packages/document_client/versions/1.0.0

[2021-12-25 13:09] #326 closed

[2021-12-27 22:17] Schwusch commented on #313
Hello @chirag729 and thanks for your bug report.
I checked with a number of services, such as https://regex101.com/, https://regexr.com/ and https://regexper.com/.
They all seem to conclude that this is not an JS/ECMA compatible regex, but a PCRE compatible one.

I checked the [latest API definition](https://github.com/aws/aws-sdk-js/blob/master/apis/cognito-idp-2016-04-18.normal.json#L9923) in `a

[2021-12-27 22:49] Schwusch commented on #299
I would say, the only way of knowing if this is a viable alternative is to publish a package with all the services in it.
Since there is the option to mark a package discontinued and/or unlisted, I think it's worth a try.

It would probably solve the dependency problem I faced when resolving credentials with STS in #328.
There, it was problematic to use STS in the shared package, since STS in itse

[2021-12-27 23:22] Schwusch commented on #238
I think I have a way forward with this.
The trick is to expose `signAws4HmacSha256` and other signing functions in the `shared_aws_api`, and let the protocol class `send` method take an optional signing function as an argument. The function signature would be something like:
[code]

E.g. `RestXmlProtocol.send()` method signature would then be:
[code]

  Later, the signing could simply be:
[code]

[2021-12-27 23:24] Schwusch commented on #226
I dn't think anyone has the time or energy to rewrite the project :sweat:, so I think it's time to close this one.

[2021-12-27 23:24] #226 closed

[2021-12-27 23:27] Schwusch commented on #241
As mentioned in #238, I think I have a way forward with this.
The trick is to expose signAws4HmacSha256 and other signing functions in the shared_aws_api, and let the protocol class send method take an optional signing function as an argument. The function signature would be something like:
[code]
E.g. RestXmlProtocol.send() method signature would then be:
[code]
Later, the signing could simply be

[2021-12-27 23:48] Schwusch commented on #264
I'm sorry, but the only guidance I can give you is the documentation for [SES V1 `sendRawEmail`](https://pub.dev/documentation/aws_ses_api/latest/email-2010-12-01/SES/sendRawEmail.html) and the [SES V2 `sendEmail`](https://pub.dev/documentation/aws_sesv2_api/latest/sesv2-2019-09-27/SESV2/sendEmail.html) methods.
If there is any bugs in the Dart API, please feel free to open a new issue describing

[2021-12-27 23:48] #264 closed

[2021-12-27 23:48] isoos commented on #313
I think it is worth a try to check how the official JS API handles the issue, and see if it is applicable here.

[2021-12-27 23:50] Schwusch commented on #302
Is this still a problem? Should we address it?

[2021-12-27 23:54] Schwusch commented on #319
I'll consider this to be solved.
If there is any problems with the null safe versions, feel free to open a new issue.

[2021-12-27 23:54] #319 closed

[2021-12-28 00:03] Schwusch commented on #321
I'll consider this to be solved.
If there is any problems with the null safe versions, feel free to open a new issue.

[2021-12-28 00:03] #321 closed

[2021-12-28 00:14] Schwusch commented on #320
Every package has API documentation on Pub, e.g. https://pub.dev/documentation/aws_sns_api/latest/.
Regarding integration/usage, I recommend the [official AWS documentation for the JS SDKs.](https://docs.aws.amazon.com/sdk-for-javascript/v3/developer-guide/sdk-code-samples.html)
The usage is very similar.
If you have any other questions, feel free to open a new issue.

[2021-12-28 00:14] #320 closed

[2021-12-28 00:16] Schwusch commented on #310
I'll consider this to be solved.
If there is any problems with the null safe versions, feel free to open a new issue.

[2021-12-28 00:16] #310 closed

[2021-12-28 00:25] Schwusch commented on #307
The capabilities of this SDK should be the same as the [Javascript AWS SDK](https://github.com/aws/aws-sdk-js). If the JS SDK can do something, chances are that it is possible with the Dart SDK as well.
I am unable to answer architectural questions about your app, they are probably better suited in other forums such as Stack Overflow.
If there are any bugs, or if there are any missing features you

[2021-12-28 00:25] #307 closed

[2021-12-28 00:29] #266 closed

[2021-12-28 08:12] xvrh commented on #313
@Schwusch @isoos I've dug into that at some point.
The JS SDK doesn't enforce the regex actually.
This is a bit unfortunate but we should (must) do the same in Dart as those regex are Java regex and are sometime invalid.

[2021-12-28 10:37] Schwusch commented on #313
@xvrh That is interesting. Do you know if it's individual regexes that are ignored, or all regexes in general?
If it's individual, do you know the mechanism of how to tell which one to ignore?

[2021-12-28 12:59] xvrh commented on #313
All regexes are ignored (I think).
At the end, it's not really a big loss. The validation is just executed server-side instead of client-side.

[2021-12-28 21:47] Schwusch commented on #313
[Looks](https://github.com/aws/aws-sdk-js/blob/master/ts/config.ts#L64) like you're [right](https://github.com/aws/aws-sdk-js/blob/master/lib/config.js#L555).
Fastest way forward would probably be to make a change in `shared_aws_api`, and make the `validateStringPattern()` function return immediately without doing any checks.
Later we can update the services to not call into that function at all.

[2021-12-28 23:23] Schwusch commented on #313
`shared_aws_api` 1.0.1 is published with the #329 fix.

[2021-12-28 23:23] #313 closed

[2021-12-28 23:54] Schwusch commented on #312
I found a [TODO I wrote 2 years and 3 days ago](https://github.com/agilord/aws_client/blob/master/generator/lib/builders/protocols/service_builder.dart#L54):
[code]
Which points to this snippet:
[code]
Seems like it's time to actually implement that one :sweat_smile:

[2022-01-04 18:47] Schwusch commented on #312
This should be resolved in aws_apigatewaymanagementapi_api 1.0.1

[2022-01-04 18:47] #312 closed

[2022-01-08 12:22] #316 closed

[2022-01-08 20:06] Schwusch commented on #316
Generated services v1.1.0 now have the possibility to take an asynchronous `credentialsProvider`, which opens up use cases mentioned above. More work can be done to provide different ways to provide credentials out of the box, but at least it's more flexible at the moment.

[2022-01-28 18:33] Schwusch commented on #302
In the new Kotlin AWS SDK, `close()` does what @isoos describes

[2022-01-29 11:37] #302 closed

[2022-02-13 13:36] Schwusch commented on #238
Now when #334 is merged it is possible to pass a `requestSigner` function to `RestXmlProtocol` constructor, which makes it possible to implement S3 signing separately.

[2022-02-26 05:37] Ashish-Raturi opened #354 "document_client & aws_dynamodb_api not working for android"
The following error is coming on android.

<img width="750" alt="Screenshot 2022-02-26 at 10 45 12 AM" src="https://user-images.githubusercontent.com/50191855/155830649-e3ce8255-87c4-450a-9dca-761e8cf03603.png">

CODE:
<img width="750" alt="Screenshot 2022-02-26 at 11 05 45 AM" src="https://user-images.githubusercontent.com/50191855/155830693-d8d1cbdd-f5c6-49d4-855d-4616324b08f4.png">

Thanks in a

[2022-02-28 07:37] Schwusch commented on #354
Hi @Ashish-Raturi, thanks for the report.
Looks like it could be "clock skew", which has been mentioned in passing here https://github.com/agilord/aws_client/issues/316#issuecomment-997109269.
The timestamps suggest the device time/date is about a day or so out of sync, is that correct?
That would be the temporary solution, to have the clock in sync on the device.
Not sure how it can be solved by

[2022-02-28 16:20] Ashish-Raturi commented on #354
Hi @Schwusch, you're a genius. You are right. It's because my emulator date-time is wrong.
Thank you very much, men.

[2022-03-10 09:19] akshaycashee opened #355 "There is no documentation or articles for How to integrate in Flutter also the import 'package:aws_rekognition_api/rekognition-2016-06-27.dart'; dosen't work"

[2022-03-17 02:44] Kakukaho opened #356 "Refused to set unsafe header "Host""
[code]

[2022-03-18 20:18] Schwusch commented on #356
Not sure what you mean, what is the error message, and could it be related to #238?

[2022-03-18 20:22] Schwusch commented on #238
@isoos , @xvrh would any of you like to take on developing the S3 `RequestSigner`?
I think I have tried 20 times without figuring it out. It feels like it shouldn't be too different from the regular `signAws4HmacSha256` method, but the specifics confuse me.

Perhaps it would solve #356 as well :man_shrugging:

[2022-03-20 19:07] isoos commented on #238
Hm.. Looking at the code, it seems that I've forgotten much more about this than I first thought... Do you know any library in other language that implements it and we could use as reference?

[2022-03-23 09:35] machuytu opened #357 "Not have MeetingSession on aws chime"
Hey guys,
I want to use aws_chime_api package and when I try to create a meeting follow https://docs.aws.amazon.com/chime/latest/dg/create-mtgs.html I see it need config MeetingSessionConfiguration but when I call on package I not see it. So how can I get it?
![image](https://user-images.githubusercontent.com/50764579/159668189-11a61367-dbd5-47eb-b417-69624e5c171d.png)
<img width="1438" alt="image

[2022-03-24 07:05] Schwusch commented on #357
This SDK does not contain a client library, you should take a look at [this list](https://docs.aws.amazon.com/chime/latest/dg/mtgs-sdk-client-lib.html) for more information.
There seems to be a Flutter client library [listed on Pub](https://pub.dev/packages/eggnstone_amazon_chime) as well.

[2022-03-24 07:05] #357 closed

[2022-04-07 10:31] nicks258 commented on #355
did you find any solution for this. I am looking to integrate kinesis for analytics. @akshaycashee  @paulreimer @tyrchen

[2022-04-11 20:09] Nader2004 opened #358 "An example of streaming data to amazon Personalize [QUESTION]"
Hello there. Thanks for the Amazon Personalize Package. May Anyone please provide a sample dart code that show streaming data such as users, items and events into datasets. I want to create real time recommendations. Thanks

[2022-04-27 19:16] Schwusch commented on #358
Hi @Nader2004
This might not be the best forum to ask for example code. Examples and detailed API documentation is provided by AWS for their supported language SDKs, and the SDK that resembles the Dart SDK the most is [aws-sdk-js](https://github.com/aws/aws-sdk-js).
I would suggest forums like StackOverflow or the [Dart Server Gitter](https://gitter.im/dart-lang/server) for better responses.

Chee

[2022-04-27 19:16] #358 closed

[2022-05-03 11:16] Schwusch commented on #238
I'm shopping around for implementations that are tested and correct, but they seem scarce. I found a [JS implementation](https://github.com/mhart/aws4), although it has some problems as well.
Not sure if it's worth investing more time, if AWS themselves are close to releasing their own SDK:
https://github.com/TylerSustare/aws_sdk/issues/1#issue-1112002379

[2022-05-03 11:23] Schwusch commented on #299
It seems @dnys1 is working on a [smithy-dart](https://github.com/dnys1/smithy-dart) implementation already.

[2022-05-03 13:34] chirag729 commented on #238
@Schwusch Is this of any use? https://github.com/xtyxtyx/minio-dart/blob/master/lib/src/minio_sign.dart

I've used that library with s3 successfully before

[2022-07-31 16:40] paca94 opened #361 "Class 'QueueAttributeName' has no instance method 'toJson'."
hello. If you create a queue using the code below, an error occurs.
[code]

The error that occurs is as follows.
[code]

[2022-08-01 18:53] Schwusch commented on #361
Hmm, seems `QueueAttributeName` isn't registered int the generator as an attribute that needs a `.toJson()` generated.
Ping @xvrh , was your custom serialisation merged or are we using json_serializable these days? 😅

[2022-08-01 19:04] xvrh commented on #361
@Schwusch if I remember well it is indeed my (😇 ) custom serialisation at this point. It seems map keys are not well handled.
I'll have a look now.

[2022-08-01 19:55] xvrh commented on #361
Not sure if the json serialiser was really at fault as it comes from the Query protocol. I submitted tentative fix.

[2022-08-02 07:13] #361 closed

[2022-08-03 16:38] raphaelbarbosaqwerty commented on #356
Is related, I have the same problem here

[2022-09-04 03:29] ryanheise opened #365 "Upgrade to xml ^6"
The current dependency of ^5.0.2 needs to be bumped to ^6.0.0 to allow integration with the latest versions of other packages that depend on xml ^6.0.0.

[2022-10-11 21:18] YonatanSegura97 commented on #365
Any workaround meanwhile?

[2022-10-11 22:10] isoos commented on #365
As a quick fix, I think `dependency_overrides` should work:
https://dart.dev/tools/pub/dependencies#dependency-overrides

[2022-10-17 20:14] cbatson opened #366 "No mechanism to discern response status code"
Presently, due to [line 102 of `rest-xml.dart`](https://github.com/agilord/aws_client/blob/ecd0657134ea136a82a48833cd9858f921689577/shared_aws_api/lib/src/protocol/rest-xml.dart#L102), it is not possible to discern response status codes that are not 2xx. This is problematic, for example, with the S3 `headObject()` method, where it is useful to distinguish "404 Not Found" from other response codes

[2022-10-21 23:20] cbatson opened #367 "Unable to access S3 via IAM role"
Due to [line 63 of `rest-xml.dart`](https://github.com/agilord/aws_client/blob/4c4018d17f85636ce58bfee6dc04bddad46e8fd5/shared_aws_api/lib/src/protocol/rest-xml.dart#L63) having a default value of `true` for `signed`, and also none of the S3 methods permitting a way to choose a different value for `signed`, it's currently not possible to issue S3 requests without explicit credentials: `Exception('

[2022-10-22 09:51] cbatson commented on #367
I am using a credentials provider similar to below as a work-around.

[code]

However it appears I'm now bumping into #241.

[2022-11-18 06:23] raphaelbarbosaqwerty commented on #365
workaround:

pubspec.yaml
[code]

Worked without any problem.

[2022-11-22 16:45] raphaelbarbosaqwerty opened #369 "Incompatilibty with `amplify_flutter`"
Hi! I did some tests here with `aws_lambda_api: ^1.2.0` and the `amplify_flutter: ^1.0.0-next.1+1` the future version of the `amplify_flutter` seems to be incompatible with the `aws_lambda_api` at the moment we do the login and use the `session key` via `aws_lambda_api`. When we try to use it with logged user seems to be invalid. Do you'll intend to make the lib compatible in the next release?